[2020-08-11 07:46] iJungleboy commented on #570
@sbwalker Thx for the answers, as soon as the targets are ready I'll start with this. Basically it will probably take me about 1-2 days in terms of effort (8-16h).

In regards to the `[PublicApi]` - yes, it's to mark things for public docs at the class or property level. I find this very important, because it

1. Publishes "official" APIs which we actively decide that they are for public use
1. In

[2020-08-11 17:21] sbwalker commented on #633
I believe this was fixed in #651

[2020-08-11 17:22] sbwalker commented on #604
@thabaum I am guessing you do not have time to work on this item... would you prefer if someone else picked it up?

[2020-08-13 14:06] #676 closed

[2020-08-13 14:07] #633 closed

[2020-08-14 16:44] #526 closed

[2020-08-14 18:25] PoisnFang commented on #665
I have my own ModuleBase class that is inherited, I added this in to load my CSS.
[code]

[2020-08-14 19:06] sbwalker commented on #665
Basically you migrated the framework logic into your module, which is a perfectly good solution for your use case. The default development module for Oqtane abstracts these details from the developer to simplify the development effort - but since you are following your own development approach you need to do a bit of extra work ( but are still able to leverage the core framework services ). If you

[2020-08-14 19:15] PoisnFang commented on #665
Correct its the same thing that the Module Base does to load the JS resources. Except I have to do it with CSS. I still think is an 'issue' but you can close it for now. I will be looking deeper into later to see how it can affect other developers that are not developing the same way I am. And to answers a few questions I have, like "Why not just load the CSS and JS the same way in the module?"

[2020-08-14 19:16] sbwalker commented on #646
These are probably not at the level which you were hoping @thabaum but I did create a 7 part Oqtane video series last month:

https://www.youtube.com/playlist?list=PLYhXmd7yV0elLNLfQwZBUlM7ZSMYPTZ_f

I would be happy if other people created additional video content for Oqtane as well.

[2020-08-14 19:45] thabaum commented on #646
Those are great, I will love watching them each as I have a break.  It beats 1 hour videos any day thank you for breaking those up!!!

[2020-08-14 19:46] sbwalker commented on #665
Sorry... based on your comment above I took a closer look at your solution and there is a problem. There is an important reason why JS is treated differently than CSS. Once a JS library is loaded into a web page for a site it is never unloaded - even if you removed the reference to the JS library from the DOM it would still be loaded. As a result of this, it is not necessary to unload JS reference

[2020-08-14 19:46] thabaum commented on #646
Can you label what each chapter is focused on in the title?

[2020-08-14 19:51] thabaum commented on #604
If anyone can do this up just put a note here you are working on it, I will do the same.  I am clearing up my work schedule now I have one more thing to get off the burners and I should be able to push forward again.  My apologies it has been very long days...

[2020-08-14 20:10] sbwalker commented on #604
I actually implemented this today and will submit the PR tonight

[2020-08-14 20:45] PoisnFang commented on #665
Right which is why I have to load my CSS the way I do, because my Module acts like it has its "own" pages.

[2020-08-14 20:55] thabaum commented on #604
awesome! thank you.  I will review it when I see it.

[2020-08-16 23:03] #604 closed

[2020-08-16 23:15] sbwalker commented on #665
To clarify one aspect of my earlier explanation... the result of loading CSS using the code you posted above is that when you navigate to a page containing your module, a CSS reference will be added to the DOM - and that CSS reference will never be removed from the DOM, even if you navigate to a different page which does not contain your module. You may not notice any visible effect as a result of

[2020-08-16 23:26] PoisnFang commented on #665
Hmmm, I will have to circle back to this in my code and map out the exact problem and proper solution. Thanksba lot for the feedback and explanation.

[2020-08-22 21:40] nohorse opened #699 "Path column fixed at 50 chars. Increase to 256?"
Folks adding pages 3-deep are running into the path length limitation.  I'm suggesting we increase the field length to something more reasonable like 256.  I think the spec for URLs is like 2048, so that's an option as well.

[2020-08-26 19:08] sbwalker commented on #699
DNN has used nvarchar(256) for this purpose for 18 years so I think it should be safe to assume this length should be sufficient. There is no point in defining this as 2048 as you are correct that the max Url character limit is based on all elements of the url including querystring parameters. In this case we are only focused on the url path.

[2020-08-26 19:08] #699 closed

[2020-08-26 19:09] #646 closed

[2020-08-26 19:15] sbwalker commented on #570
@iJungleboy I have added the new repo and added you as Admin

[2020-08-27 11:33] iJungleboy commented on #570
thx, looks good. I'll see that I can start next week.

[2020-08-28 15:42] #467 closed

[2020-08-28 15:42] sbwalker commented on #395
Closing, as we moved ahead with the Oqtane theme as the default and also included the Blazor theme

[2020-08-28 15:42] #395 closed

[2020-08-28 15:43] sbwalker commented on #454
Closing... this may be a good item to add to documentation in the future

[2020-08-28 15:43] #454 closed

[2020-08-28 15:43] #442 closed

[2020-08-28 15:44] sbwalker commented on #512
Agreed we can revisit with Localization

[2020-08-28 15:44] #512 closed

[2020-08-28 15:45] sbwalker commented on #527
Some of these UX issues were addressed in recent versions

[2020-08-28 15:45] #527 closed

[2020-08-28 15:45] #532 closed

[2020-08-28 15:46] sbwalker commented on #528
I believe this is fixed

[2020-08-28 15:46] #528 closed

[2020-08-28 15:47] #565 closed

[2020-08-28 15:47] sbwalker commented on #565
Closed as the Oqtane philosophy was explained above

[2020-08-28 15:48] sbwalker commented on #665
Closing as this is not really an "issue"

[2020-08-28 15:48] #665 closed

[2020-08-28 15:49] sbwalker commented on #666
@PoisnFang any luck with the suggestion I provided above?

[2020-08-28 17:08] PoisnFang commented on #666
@sbwalker Unfortunately I have not yet, I have gotten bogged down with some other things. But I am hoping to get to it in the next few days!

[2020-09-02 17:10] bakes82 opened #728 "Module Creator"
Is there any way to have the module created w/out all extra table/sql/Repos?  (Toggle?)
Minor inconvenience to pull delete it when some modules need to interface with an API layer instead.

Also could we get a "download" button so when we make an external module we dont need to pull it from the site, we can download it as a 7z or whatnot.

Is there a more in depth module creator documentation.
IE

[2020-09-02 17:17] bakes82 opened #729 "Theme - No navigation"
Is there a theme example with no navigation?  Use case would be a landing page, or maybe hidden from navigation form pages.

I deployed to azure, setup, I see the cerulean theme.  Press download, then install and it doesnt error loading spinner spins and then just comes back to same page to say install the theme again.

[2020-09-02 19:05] sbwalker commented on #728
At this point you will need to manually remove any aspects of the module you do not want. It is too difficult to construct a fully functional module based on various toggles.

I do not understand the concept of a Download button. The main use case for module creator is to utilize it in your local development environment to scaffold module code so you can open it immediately in Visual Studio. It is

[2020-09-02 19:12] sbwalker commented on #729
The Cerulean theme source code is available here: https://github.com/oqtane/oqtane.theme.cerulean. For a theme without navigation you could copy Default.razor to create a new component ( ie. NoNav.razor ). Remove the < Menu Orientation="Horizontal" / > from the markup.

[2020-09-02 19:14] sbwalker commented on #728
I would also suggest you watch the video series https://www.youtube.com/watch?v=JPfUZPlRRCE&list=PLYhXmd7yV0elLNLfQwZBUlM7ZSMYPTZ_f

[2020-09-02 19:35] bakes82 commented on #729
And by making it a new component that would make it toggle from the page ui when you select it I guess.  Still going thru everything.

[2020-09-02 19:37] bakes82 commented on #728
Right so I deployed this to Azure for dev, when you make a new external module you need to go out to the ftp and pull the files.   I didnt clone the repo down or anything yet, was just seeing what was out of the box and looking at the module creation template, but if you saying module creation should be done via a dev box could just be a CLI script ;)

[2020-09-02 23:08] markdav-is opened #730 "backup/restore content folders in admin UI"
I find myself re-deploying content that I work with locally and need to deploy to the server.  it could be nice to be able to zip up the content or upload a zip of a content folder.

[2020-09-02 23:26] bakes82 commented on #730
Not sure if this follows the same request or not, but is there a "staging" option where maybe the page isnt published but if you know the link and have a certain access you can "review" it before its published out.

[2020-09-02 23:29] bakes82 commented on #504
Is there a road map with date/qtr estimates?  Is v.net targeted for like Q4 '20 or Q1 '21?  We also need the ADFS support for login.

[2020-09-02 23:52] nohorse commented on #729
I build a theme with custom navigation here: https://github.com/DarkMatterOregon/oqtane.theme.newco
To remove or change the navigation, edit the default.razor file

[2020-09-02 23:59] nohorse commented on #728
@bakes82 I've been running my dev solution locally and pointing to the azure database.  We also publish to azure, but that's more of a shared dev instance of Octane and we deploy modules there the same way you would for a production site.  You certainly can make your client call whatever API you like.  Oqtane makes an API for you, so it's a choice where your APIs live.  One things you might find h

[2020-09-03 00:02] bakes82 opened #731 "Extending Tenant Settings"
What would the preferred way be to extend Tenant settings?  Ideally would like to just have them when you create a new tenant.  But want to make upgrading easy too :)

I see a GetTenantSettings Async and update, When you call GetSetting("NewTenantSettingValue1", ""); will it return a tenant setting or would I need to parse it out of the TenantSettings dictionary?

EX: Most of our tenants have azur

[2020-09-03 12:01] iJungleboy commented on #570
@FrancoisMongeau awesome :). thx!

I'm currently preparing the initial setup with layout, hosted output pages etc. Then your contributions will be most welcome!

[2020-09-03 17:06] bakes82 commented on #729
Im looking for 1 theme, where when you make a page you can say this page doesnt have navigation.  So Im trying to figure out what needs to be done to make that toggle.  Im not sure how the Default is being inherited down and where the other pages are placing their code.
I assume it should be working something like the old master page template system but its just not clicking for me yet lol.

[2020-09-03 17:12] bakes82 commented on #728
When I look at the process they have wired up with the post scripts it seems weird to me honestly, shouldn't the proper way to install modules be install the nuget via the Prod UI?  Not republish the prod site.  If we want everything to be up gradable we shouldnt have any reason to touch the stock install and all our changes should be done via modules.  Thus why when we pressed the deploy to azure

[2020-09-03 17:59] sbwalker commented on #731
A "tenant" in Oqtane is synonymous with a physical database where you want to store your information. It does not relate to Azure or any other type of infrastructure. I think the grouping you are looking for in Oqtane is called a Site. Each Site can be related to an isolated Tenant or you can manage multiple Sites within a single shared Tenant. Sites can have Settings - ie. the core framework curr

[2020-09-03 18:07] nohorse commented on #729
I guess picking a base theme would be good, then you can copy it.  give it a new namespace, then delete the nav from default.  I crated the NewCo theme from Cerulean that way.   The trick is avoiding hacking away on your local copy of the fremework, but you can start there for some quick progress.  You can find the theme components in client/themes
![image](https://user-images.githubusercontent.co

[2020-09-03 18:07] bakes82 commented on #731
Correct, in "OUR" land a tenant = Client = 1 db.  That Tenant could have multiple sites/domains.  But all of the "tenant" data is central to 1 db.  So I still that "WE" want settings per tenant since I assume a tenant can have multiple sites.   Our code might pull the tenant storage account, and then each site we would put the data in to a specific container for that tenant, maybe that makes sense

[2020-09-03 18:09] bakes82 commented on #729
I think your repo is private.

[2020-09-03 18:17] iJungleboy commented on #570
@sbwalker I have a first version ready - which I would like to discuss with you soon.

You can see this initial version on https://oqtane.github.io/oqtane.docs/index.html

In the meantime, could you create a dns-entry for docs.oqtane.org with points to the same IP as `https://oqtane.github.io/` so I can continue configuration?

[2020-09-03 18:28] sbwalker commented on #730
Note that Oqtane is not a CMS - it is a modular framework for building web applications. The concept of "staging" content is a CMS feature which will not be part of the Oqtane framework.

[2020-09-03 18:39] nohorse commented on #730
I'm not really looking for staging per-se, but I've been manually backing up the contents like Images.  It might be nice to add a backup/restore feature that would contain images, modules, and any other content that gets physically added to site.  I'd be happy to work on such a feature if you think it's needed.  Otherwise, I'll be researching what files get added for different activities and makin

[2020-09-03 18:42] nohorse commented on #729
it's public now!

[2020-09-03 18:47] sbwalker commented on #730
Personally I think it would be best to rely on existing solutions for synchronizing content from one environment to another, rather than trying to build something into Oqtane. Solutions like RoboCopy, etc... were designed for this purpose. In regards to content, one of the philosophical goals of Oqtane was encapsulation however technically there are still some static assets which need to be manage

[2020-09-03 18:51] nohorse commented on #730
thanks for the details!  I'll have to look and see why my client/themes has stuff in it.  I'm planning on starting over with a new dev environment today anyway.

[2020-09-03 19:00] hishamco commented on #731
Tenant = website but it doesn't necessary has its own database, because we can have database per tenant or database for all the tenants. It depends on the use cases

[2020-09-03 19:26] bakes82 commented on #731
@hishamco Im saying in OUR org a Tenant would be a client and a client only has 1 db, they can have multiple sites.  Im not saying how Oqtane is setup.  But I dont want to have to set the same value 5x at the site level because that tenant has 5 sites, Id rather set it 1x at the tenant level.

[2020-09-03 19:36] hishamco commented on #731
I see, sorry for misunderstanding

[2020-09-03 19:38] sbwalker commented on #731
The framework supports Tenant settings in the SettingService class:

        Task<Dictionary<string, string>> GetTenantSettingsAsync();
        Task UpdateTenantSettingsAsync(Dictionary<string, string> tenantSettings);

Settings are simply name/value pairs which are associated to a type of entity and id ( however in the case of a Tenant there is no id as it is global to that database ). The API ut

[2020-09-03 20:04] bakes82 commented on #731
Yeah I saw those, so I can just use the GetSetting and it will pull a value if it was in the tenant side?   My question is more around how do we extend the UI to have a "Tenant" settings tab like the module settings w/out having to modify the base code.

[2020-09-03 20:15] sbwalker commented on #731
You need to create an external module for your custom settings. In your external module you would be able to implement the user experience you desire, with any field validation you need, etc... The framework provides the APIs for saving/retrieving the settings.

[2020-09-03 20:25] bakes82 commented on #731
Right but then the settings are configured at module time and not tenant time correct?  Shouldnt there be a way for us to override the tenant process, can we make a new "tenant" module lol?  Im trying to keep them separate they are two different users doing these operations.

[2020-09-03 20:26] kevind2000 commented on #731
Just had a quick and the first look at the Oqtane Core Entity: Tenant, Alias, and Site. Here is my understanding from reading Shaun's blog/diagram, youtube, and the code: Tenant is a database connection, Site is a top URL, and Alias are the joint many-to-many table between Tenant and Site, which represents site and sub-site URLs.

So one site could have multiple Alias (subsites), which may share t

[2020-09-03 20:35] sbwalker commented on #731
@bakes82 I do not understand what you mean by "module time" and "tenant time"? In Oqtane there are different permission levels. Only users with "host" permissions are allowed to create new tenants or sites - it is essentially the super user and has full access so you should not give these rights to anyone except owners of the system. I do not know anything about your business so I have no idea wha

[2020-09-03 20:35] bakes82 commented on #731
It seems like Shaun knows what Im talking about I thank.

On this screen:
![image](https://user-images.githubusercontent.com/3197191/92164357-3cc3d100-ee03-11ea-828a-2fec2fef4049.png)
I want there to be another tab that says Settings. And a way for me to add a field that says "Color", or "Azure Storage Account Name" or "Max contacts".  Things specific to a tenant (In our case a client)

[2020-09-03 20:40] sbwalker commented on #731
Who specifically do you envision accessing that UI in the screen shot? If your answer is your clients then there is a problem because it would mean you want to give "host" rights to your clients - which will not work because it would mean clients would have root access to each others environments.

[2020-09-03 20:42] bakes82 commented on #731
Someone in our "Client" setup team who would also be configuring the DB, making azure storage accounts, and IIS sites, not lets say HTML/site person.   The HTML/Site people would be adding modules to pages and tweaking that stuff, but they have no idea about all the back end things like storage account names.

[2020-09-03 20:45] bakes82 commented on #731
When I say client Im saying "Microsoft"   Microsoft is a client of OURS, they have 1db, thus will be 1 tenant.   They can have multiple sites in octane I understand that.  But we have specific tenant/client settings that maybe only the higher level up setup teams know and then when the site is up, the lower down creative/marketing folks will be maintaining the pages and modules on those pages, the

[2020-09-03 20:51] sbwalker commented on #731
Ok, so you could create a "Tenant Settings" module with your specific settings. Since you want this module available in every Site your create I would suggest creating a custom site template ( https://blazorhelpwebsite.com/ViewBlogPost/41 ) which includes all of the standard pages as well as an Admin "Tenant Settings" page with the "Tenant Settings" module. Then when your "client setup team" creat

[2020-09-03 20:57] bakes82 commented on #731
Okay sounds good.  We finally got there!

[2020-09-03 21:21] sbwalker commented on #731
The solution I described above will work. But I think what you were hoping for is something a bit different. Something more along the lines of how the current User Profile works - where you can define arbitrary profile properties and the User Profile dynamically builds a form to collect those properties. The challenge with dynamic forms is that there are so many edge cases... you may need a select

[2020-09-03 21:41] bakes82 commented on #731
Yeah, or something like on how you do it in the modules settings.   Maybe you could let us do with the understanding it for basic things strings, int, bool ;)
I assume I can put the page in the "Admin Dashboard" might be les

[2020-09-09 13:49] iJungleboy commented on #570
ping @sbwalker

[2020-09-09 18:04] hishamco commented on #570
I'd like to suggest to keep any issues or features related to docs may moved into the docs repo if it's created

Thanks @iJungleboy for your amazing efforts

[2020-09-12 17:42] hishamco commented on #313
@sbwalker could please create `dev` branch so the stable release will be on the `master` branch?

[2020-09-13 22:12] thabaum opened #744 "CSS Selector for user profile message summary"
https://github.com/oqtane/oqtane.framework/blob/38f2fa57331a3b45e272b3edd2207ebbcb4d21df/Oqtane.Client/Modules/Admin/UserProfile/Index.razor#L139

I have been thinking about that past PR with the adding `...` to the end of 100 characters if a message is that long.

I also wish to add some CSS to that line I thought maybe I could add a selector to the project in this area mentioned above
[code]

Th

[2020-09-14 20:49] bakes82 commented on #729
@sbwalker I tried installing the cerilium theme, doesnt install, restart the project it now wont start and tells me that that theme is missing assets.json.

Also when using the oqtane multi pane view, any page saved with this doesnt seem to do anything, I press edit again the theme is blanked out/reset I dont see any way to make a module go to the Left/Right/Top/Center/Bottom.  Is there a demo env

[2020-09-15 12:53] sbwalker commented on #729
It appears that there is a bug in the theme installer logic. I will investigate further.

[2020-09-15 14:45] sbwalker commented on #729
I confirmed there is a bug in the theme installer/uninstaller. In addition, there is a bug related to Layouts in the Router. I am testing fixes for both right now.

[2020-09-15 14:49] bakes82 commented on #729
Thanks, things didnt seem right to me, glad I wasnt just confused :P

[2020-09-15 16:20] sbwalker commented on #730
I am reopening this item as I have some additional context to add. Currently the framework uses an abstraction over the file system to provide an extra layer of security. Files are stored in a multi-tenant aware folder structure under the ContentRootPath to ensure that they are not publicly accessible via Url. This works fine however the standard VS Publish process does not deploy this folder auto

[2020-09-16 19:25] sbwalker commented on #729
Fixed in #748

[2020-09-18 22:33] iJungleboy commented on #570
ping @sbwalker I've been waiting for 15 days now ;)

[2020-09-19 08:47] hishamco commented on #570
@sbwalker can we take the needed action here

[2020-09-19 17:28] thabaum commented on #744
I have given this some thought, and for that one change that was made with the `container` class being used and after trying to get results from what was discussed in Gitter prior to discussions, I think a discussion may need to be created in respect to this.

Reason is we should come up with a solution that is a cure all.  I think I have a solution in mind that is by allowing a variable object to

[2020-09-19 23:30] #744 closed

[2020-09-28 20:08] PoisnFang commented on #666
@sbwalker I am finally getting around to trying this hack out. It seems it wont work because in DBContextBase get initialized before my ModuleManager gets called, so when I use DI to inject the ModuleDbContext the tenant is already null, and its it a private field in DBContextBase so there is no way to set it.

[2020-09-28 21:52] PoisnFang commented on #666
I found a way to do it!

[2020-09-28 23:40] PoisnFang commented on #666
You can see what I did you the [DbConext](https://github.com/PoisnFang/PoisnFang.Todo/blob/master/Server/Repository/Context/TodoContext.cs) and the [ModuleManager](https://github.com/PoisnFang/PoisnFang.Todo/blob/master/Server/Manager/TodoManager.cs)

[2020-09-30 12:22] sbwalker commented on #570
@iJungleboy can you help me with what the IP is for https://oqtane.github.io/? I get nothing back from ping and when I browse to it I get a 404

[2020-09-30 21:49] PoisnFang opened #766 "JavaScript file function called before the Custom Module loads the file"
When loading JavasScript file through Index Page on Custom Module the component seems to be loading before the JavaScript file function is called. Thus causing this error:

`Error: Microsoft.JSInterop.JSException: Could not find 'BlazorInputFile' in 'window'. Error: Could not find 'BlazorInputFile' in 'window'.`

`Error: Microsoft.JSInterop.JSException: Could not find 'ChartJsInterop' in 'window'.

[2020-10-01 06:08] PoisnFang opened #769 "Page Actions in Modules are Case Sensitive"
@sbwalker Previously in the gitter group you said:

@ cody in my earlier post I suggested that alias names and page paths should be case insensitive, and parameters must be case sensitive. The case insensitive elements of the url should be converted to lowercase for consistency. There is no site setting that is needed for enabling or disabling this as it is not a “feature” - it is expected behavio

[2020-10-01 14:12] iJungleboy commented on #570
Hi Shaun

I get a ping
![image](https://user-images.githubusercontent.com/5321186/94820546-e09f9d00-0400-11eb-97dc-29b673ffb831.png)

And you get a 404 because the home doesn't have anything, it's currently on the subfolder https://oqtane.github.io/oqtane.docs/

Once we have the domain, it will be in the root.

[2020-10-01 14:21] hishamco opened #771 "Support localization for Label component"
As @sbwalker mentioned earlier

Now we should think about the challenges and use cases to make this happen, hopefully I will share my thought soon ...

[2020-10-01 14:23] hishamco opened #772 "Create Language Switcher component"
@sbwalker it would be nice to create a language switch components to allow the Oqtane users select their favorite language instead of dealing with cookies

I will push a PR if sounds looks good to you

[2020-10-01 14:30] hishamco opened #773 "Supported Cultures in Blazor WebAssembly"
AFAIK Blazor Web Assembly has no notion of `SupportedCultures` as Blazor Server, I already thinking about this before and how to make this happen, seems the `BlazorClient` recognize the satellite assembly for the project and all added resources, so whenever we added a new culture it will be recognized next time

@danroth27 @pranavkm is there a way to make this happen, I'm thinking to drop the `res

[2020-10-01 14:32] hishamco commented on #773
Something related, I tried to use

[code]

but doesn't work as expected

[2020-10-01 14:35] hishamco opened #774 "Module Creator Localization"
After supporting localization, the module creator should respect the localization assemblies and naming conventions to avoid collision without impact the user as @sbwalker mentioned [here](https://github.com/oqtane/oqtane.framework/discussions/749#discussioncomment-86850)

[2020-10-01 14:36] hishamco commented on #774
@sbwalker in `Oqtane.Blogs.Client.Oqtane` the default namespace is different it's `Oqtane.Blogs.Client` and that's on of the big issues I suffered a lot because I thought it's similar to the assembly name

my question is from where that value is come from

[2020-10-01 14:57] hishamco commented on #771
IMHO the localization support can go with two way:

1. The Standard way that Microsoft are proposed by injecting `IStringLocalizer`, this to meet Oqtane philosophy

2. Localize oqtane components, coz all the existing controls may need localization such as alerts, dialogs ... etc, so we can apply the same principle that you proposed for the other controls

I will start a WIP PR and share my thought

[2020-10-01 15:02] hishamco commented on #771
The initial proposal for the components could be something like:

[code]

So, there should be localized keys such as `FirstName.Text`, `FirstName.HelpText` and so on, according to the component localized properties. `TLocalizationType` is the type that been used in `IStringLocalizer<T>`

@sbwalker your thoughts

[2020-10-01 15:05] sbwalker commented on #570
@iJungleboy docs.oqtane.org is now provisioned

[2020-10-01 15:14] sbwalker commented on #766
Please share the ChartJsBlazorInterop.js file contents so it is possible to see how it is declared. Please also share how your code calls the JavaScript methods via JSInterop. Does your module component implement  the OnAfterRenderAsync(bool firstRender) event? If so, does it call the ModuleBase event which handles loading the JavaScript: await base.OnAfterRenderAsync(firstRender)

[2020-10-01 15:25] hishamco commented on #766
@PoisnFang could you please provide a minimal repo, so it's easier to reproduce the issue

[2020-10-01 15:31] PoisnFang commented on #766
@sbwalker I am using the ChartJsBlazorInterop.js file that is included with the nuget package. I do not call JSInterop, the nuget packages call JSInterop.

[2020-10-01 15:36] sbwalker commented on #570
Yes I can make that change. I initially thought CNAME was the right approach but you indicated that it should point to an IP and only an A record can do that, so thats how I added it.

[2020-10-01 15:37] hishamco commented on #771
That's what I pointed to earlier in the discussion, agree with you

+1

[2020-10-01 15:39] sbwalker commented on #570
ok docs is changed to a CNAME pointing to oqtane.github.io

[2020-10-01 16:10] iJungleboy commented on #570
@sbwalker thx.
Where can I DM you to organize a telco? Mail, Facebook, Twitter, etc.?

[2020-10-01 16:43] PoisnFang commented on #766
@hishamco Here is a small example repo https://github.com/PoisnFang/PoisnFang.ThirdParty

[2020-10-01 18:48] sbwalker commented on #570
shaun.walker at siliqon.com

[2020-10-01 21:11] hishamco commented on #766
Hope to have a look soon, coz I have many localization stuff to do ;)

[2020-10-03 21:25] hishamco opened #780 "InvalidOperationException on GetSite()"
@sbwalker is there any regression bug on the PRs that you merged today, I'm getting **The entity type 'CustomAttributeData' requires a primary key to be defined. If you intended to use a keyless entity type call 'HasNoKey()'.'**

[2020-10-03 21:37] sbwalker commented on #780
The PR I checked in had no database impact at all. What are you trying to do when the error occurs?

[2020-10-03 22:06] hishamco commented on #780
I'm not sure what happen, I tried with a new installation too, when I was trying to implement localizable labels, I will close this for now and I will check everything from my side

Thanks

[2020-10-03 22:06] #780 closed

[2020-10-04 21:25] hishamco commented on #771
@sbwalker I'm able to access module type not the page type, so can we set `ComponentType`?

[2020-10-04 22:50] sbwalker commented on #771
Can you explain how the type is used? My assumption is that it is the type of the module component being localized? So if a module ( ie. MyModule ) had an index.razor component and it had a bunch of Labels on it, then the type which would be needed for localization is MyModule.Index. Correct? I can’t really answer your question unless I understand the requirements.

[2020-10-04 23:31] hishamco commented on #771
Right

[2020-10-04 23:49] sbwalker commented on #771
ModuleState is a cascading parameter which is already available in the Label component ( through ModuleBase ) and it has a property for ModuleType which provides the type of the related module component.

[2020-10-05 01:10] hishamco commented on #771
The type of the module or the parent component that owns the label?

[2020-10-05 01:47] sbwalker commented on #771
The type of the parent component that owns the label

[2020-10-05 12:01] sbwalker commented on #769
@PoisnFang can you elaborate a bit more on the scenario which is causing you problems?

[2020-10-08 13:46] sbwalker commented on #766
Closing this item as it is explained in #764

[2020-10-08 13:46] #766 closed

[2020-10-08 13:47] #730 closed

[2020-10-08 13:48] #728 closed

[2020-10-08 13:49] #729 closed

[2020-10-08 13:49] #666 closed

[2020-10-08 13:50] #645 closed

[2020-10-08 13:51] #571 closed

[2020-10-08 13:52] sbwalker commented on #504
closing as IdentityServer will no longer be available under a compatible open source license in .NET 5: https://leastprivilege.com/2020/10/01/the-future-of-identityserver/

[2020-10-08 13:52] #504 closed

[2020-10-08 13:56] #731 closed

[2020-10-08 14:26] hishamco commented on #780
@sbwalker I just updated to the latest master whenever I start a new setup this error show up:

**There was an unhandled exception on the current circuit, so this circuit will be terminated. For more details turn on detailed exceptions by setting 'DetailedErrors: true' in 'appSettings.Development.json' or set 'CircuitOptions.DetailedErrors'.
e.log @ blazor.server.js:19**

Any idea?

[2020-10-08 14:35] hishamco commented on #780
I fix it the problem with the label component that I have added in the Default component, just leave my earlier component

[2020-10-08 14:37] sbwalker commented on #780
So you are saying this is happening on a new install - ie. when remove the connectionstring and reinstall using the Install Wizard? If so, I am guessing it has something to do with recent code merges - perhaps related to localization as that was the biggest change. I did a reinstall yesterday as part of my .NET 5 testing and did notice an issue ( ie. the SignalR connection disconnected ) but thoug

[2020-10-08 14:41] hishamco commented on #780
Just enable the above setting and it will show the error details, I will try it with .NET 5.0 too, my issue was happening with a new installation but I forgot that I have added a label component that throws render fragment issue

[2020-10-08 14:42] hishamco commented on #780
No no everything is fine now no worry and I will try the experience with .NET 5.0 today

[2020-10-08 14:44] sbwalker commented on #780
Since I have all the changes for .NET 5 done should I merge them?

[2020-10-08 14:51] hishamco commented on #780
Could you please create a PR before you merge, so I can test it now, I will test the localization stuff too

[2020-10-08 14:54] hishamco commented on #771
@sbwalker the issue that i posted [here](https://github.com/oqtane/oqtane.framework/issues/780#issuecomment-705607462) is related to the label, when I try to print out the `ModuleStatus` and `ModuleType` in the label itself the status is `null`, to give a little context here, what I did basically is add label component in Default page component

[2020-10-08 15:21] sbwalker commented on #780
see #788

[2020-10-08 19:24] PoisnFang commented on #766
@sbwalker I guess I understand closing this issue, however its still not really resolved.

[2020-10-08 21:40] sbwalker commented on #766
There are currently 2 resolutions to your problem:

1. Rewrite your module to use chart.js directly exactly like DNF.Project. This works fine because the module takes responsibility for declaring its own JavaScript.
2. Use the third party component but use the IHostResources method for declaring the JavaScript. This is the only way to handle components which do not take responsibility for declarin

[2020-10-08 21:46] sbwalker commented on #771
what is ModuleStatus?

[2020-10-08 21:53] hishamco commented on #771
Sorry `ModuleState` it's typo ;)

[2020-10-08 21:54] hishamco commented on #771
To capture the module type as you mentioned above

[2020-10-11 11:37] hishamco opened #794 "Login UI issue"
After the latest changes the login textboxes become wide which not suited from UI/UX perspective, I suggest to resize and place them into the center

[2020-10-12 00:33] sbwalker commented on #794
The correct way to do this in Oqtane is to include a CSS file with custom styles for the Login module ( in the standard location ), link the CSS file as a Resource in the module, and associate your CSS styles to the markup in the razor file. I am mentioning this because there seems to be a lot of confusion about how to style modules, and I don't want you to waste your time making changes to the de

[2020-10-12 00:51] hishamco commented on #794
So can I add a resource to login to fix this issue?

[2020-10-12 01:48] sbwalker commented on #771
Set a breakpoint in OnParamaterSet() in Oqtane.Client\Modules\Controls\Label.razor
Run Oqtane on Blazor Server
Navigate to Admin Dashboard ( ie. login, click gear icon at top right of UI )
Choose Site Settings
Your breakpoint will be hit
Look at the Locals windows in Visual Studio
Scroll down to ModuleState and open the object
Look for property ModuleType and it will contain the value "Oqtane.Modu

[2020-10-12 11:10] hishamco commented on #771
Thanks @sbwalker I will try what you said, but the localization should work with pages too without need hosting a label into a module, Am I right?

[2020-10-12 12:12] sbwalker commented on #771
I am not sure if I am understanding your question correctly, so please forgive me if I repeat some of the most basic concepts of Oqtane. Oqtane is a "modular framework" so its entire development model is based on modules - not pages. A developer should NEVER create a razor component with an @page directive ( ie, a standard razor page component ). "Pages" are a virtual concept in Oqtane - they are

[2020-10-12 12:41] hishamco commented on #771
If your intend in Oqtane is to use the components inside a module, it's fine, I'm working on the PR now, hope to share a draft soon ...

I'm struggling with reflection little bit coz you know `IStringLocalizer<T>`  will need a type not a string, the idea is to generate a type and passed as original type to be localized

[2020-10-12 12:48] sbwalker commented on #771
@hishamco I am a bit concerned based on your comments in this thread. Have you created a module for Oqtane?

Type.GetType(ModuleState.ModuleType) will provide you with a type.

[2020-10-12 12:50] hishamco commented on #771
Nope, but I used the `Oqtane.Blog`

I already know that, but I will let you know in my PR why this will may not fit

[2020-10-12 12:59] hishamco commented on #771
I think the issue because the generic param should be a Type not an object of type `Type`

[2020-10-12 13:01] sbwalker commented on #771
I have no code to look at so I cannot really understand or comment.

[2020-10-12 13:04] hishamco commented on #771
No worry I will handle it and share the PR with you

Thanks a lot

[2020-10-12 17:29] hishamco commented on #772
@sbwalker your though about this one

[2020-10-13 12:03] sbwalker commented on #774
@hishamco I would suggest you try out the Module Creator yourself. You can do this by logging into Oqtane, click the [*] icon in the upper right to open the Control Panel, in the Module Management section change the "Common Modules" category to "Developer Modules" and select the Module Creator module from the dropdown beneath it. Then click "Add Module To Page". Once the Module Creator module is a

[2020-10-13 12:16] sbwalker commented on #774
I would still encourage you to try out the Module Creator.... but I am actually thinking that localizing the Blog module ( https://github.com/oqtane/oqtane.blogs ) may be a better example to start with. It would allow you to fully implement localization for at least 1 additional culture and allow you to identify any challenges which may exist.

[2020-10-13 13:11] hishamco commented on #774
@sbwalker I already tried the Module Creator twice while I'm doing localization, after that I selected `Oqtane.Blog` coz I was afraid of the generated namespaces and I don't wanna miss anything ;)

I can try to localize `Oqtane.Blog` first then come to this issue because we need to closed before V2

[2020-10-14 00:44] mixlplix opened #798 "Action link always display page in modal and it's ready only"
Just recently all my ActionLinks now bring up a modal with my Edit page, but everything is disabled.  I can't click any buttons or fill out any fields.  Also, is there a way to navigate to the page and not have it be in a modal?  Here is my code:

<ActionLink Class="btn btn-primary" Action="Edit" Text="Add New" Parameters="@($"id=0")" />

[2020-10-14 11:38] mikecasas commented on #798
To eliminate the modal use the following in your component:

``` public override bool UseAdminContainer => false;```

From IModuleControl:

[code]

[2020-10-15 02:54] hishamco opened #800 "Unable to access HttpContext.RequiredServices in Web Assembly"
While I'm testing https://github.com/oqtane/oqtane.blogs/pull/7 I found unexpected bug when I use `WebAssembly` runtime, so the localizer for the label component unable to get the value from DI because `HttpContext` is `null`. I tried to injected `HttpContext` instead of `IHttpContextAccessor`, same thing `RequiredServices` is `null` I ended up with a workaround that I will share soon

@sbwalker c

[2020-10-15 02:57] hishamco commented on #800
Seems `HttpContextAccessor.HttpContext` not recommended according to https://github.com/dotnet/aspnetcore/issues/18183

[2020-10-15 08:40] iJungleboy commented on #570
I'm all ready!

oqtane.docs now contains all of docfx and build works. I also added more explanations for cross-linking, images etc.

Just accept the pull request https://github.com/oqtane/oqtane.framework/pull/802

Then we can close this 🚀💃

[2020-10-15 19:53] mixlplix commented on #798
Brilliant, that worked.  To be clear for anyone reading this in the future, the above public override goes in the page being linked to in the ActionLink not the page with the link on it.  In my case it is the Edit.razor page .

[2020-10-15 19:53] #798 closed

[2020-10-16 11:39] TonyValenti opened #806 "Module Message doesn't work on Installer Page"
When doing a fresh install of Oqtane, give it invalid/missing parameters and try to install.
An error will occur because PageState.User is null.

[2020-10-16 11:46] hishamco commented on #806
Are you using the latest bit, coz I doing a fresh install two or three days ago and it works fine

[2020-10-16 12:24] bryfa commented on #806
I have the same issue with the lates version. PageState.User is null.

[2020-10-16 12:30] mikecasas commented on #806
@bryfa So do you get to the main installation page?

[2020-10-16 12:31] sbwalker commented on #806
yes, I believe that is an issue as the Install Wizard is not served through the router and does not have PageState set. This is a simple one to fix in ModuleMessage.razor:

        @if (Type == MessageType.Error && PageState != null && UserSecurity.IsAuthorized(PageState.User, Constants.HostRole))

[2020-10-16 13:29] bryfa commented on #806
@mikecasas @sbwalker yes it was on the main install wizard page.

[2020-10-16 16:08] TonyValenti opened #810 "Audit Usage of Constants vs Static Properties"
In .NET, ```const``` and ```static``` values can behave similarly but when it comes to how they are allocated in memory they are very different.

The C# compiler will inline (embed) ```const``` values at the call site but it cannot do this with static values since their value cannot be known at compile time.  As an example, consider the following code:
[code]
Decompiling this code results in the f

[2020-10-16 16:10] TonyValenti commented on #810
I seem to remember an issue like this happening with DNN a number of years ago because a default (const) value was changed and it essentially broke all module vendors until they recompiled.

[2020-10-16 17:52] hishamco commented on #810
I agree on the principle that we can use constants for the things that never change at all, an example I faced few days ago `CurrentVersion` it could be `readonly static` but not `const`

[2020-10-16 18:26] TonyValenti opened #812 "Factor out Common Strings into appropriately name static classes"
1.  In Oqtane, there are a number of magic strings that exist throughout the application.
2.  Some of these are just "dumped" in Oqtane.Shared.Constants

As a developer, referencing values like ```Constants.HostUser```, ```Constants.HostRole```, etc. is not ideal because the items in Constants are of different types.  It also does not give a good "Enum-Like" developer experience for new developers

[2020-10-16 18:28] TonyValenti opened #813 "Editor Config"
Please add an ```.editorconfig``` to Oqtane so that all future contributors follow the same code style.

[2020-10-16 19:10] erikvb commented on #812
This is great, but I would hope the long term solution for these constants is to have these localizable.

[2020-10-16 19:18] TonyValenti opened #814 "Minor Adjustment to <Label> Tag Helper"
Currently it renders the help icon to the right like this:
![image](https://user-images.githubusercontent.com/13609558/96299645-f644c300-0fb9-11eb-8469-4f7ff8800d53.png)

It will look better and be more accessible if the help icon is to the left like this:
![image](https://user-images.githubusercontent.com/13609558/96299659-fc3aa400-0fb9-11eb-9390-5a8155a6ae65.png)

It will look better because ite

[2020-10-16 19:59] hishamco commented on #814
Agree & disagree ;)

Agree that the alignment is not appropriate for accessibility, disagree with moving them to the left probably we align the element to the right

[2020-10-16 20:00] hishamco commented on #812
@erikvb localization is just start to shine, hope to see more localization features in the upcoming releases

[2020-10-16 20:01] hishamco commented on #813
Totally agree

[2020-10-16 20:01] TonyValenti commented on #814
@hishamco - That's an even better idea!  Can you make it happen?

[2020-10-16 20:02] hishamco commented on #814
Sure, I will try to create a PR for it, but before that I can share a screenshot, so all guys can see the final result

[2020-10-16 20:15] sbwalker commented on #814
There was already a long discussion about form, label and helptext many months ago and there was a consensus on using the current approach. And usually when it comes to platforms, rather than forcing a change of the current default pattern for everyone, it is generally better to add options so that the pattern can be customized based on user preference.

[2020-10-16 20:19] hishamco commented on #814
Agree, but I think it would be nice if the platform can handle it for you, for example in case of RTL languages like Arabic & Persian the Labels should be align to the right, but in case to display the help text properly it can align to the left instead

[2020-10-18 12:51] #813 closed

[2020-10-18 12:52] #800 closed

[2020-10-18 13:10] sbwalker commented on #806
fixed in #817

[2020-10-18 13:10] #806 closed

[2020-10-18 13:11] #812 closed

[2020-10-18 17:07] sbwalker commented on #794
yes, the CSS file should be created in the \Oqtane.Server\wwwroot\Modules\Oqtane.Modules.Admin.Login folder

[2020-10-18 17:15] hishamco commented on #794
Sure, hope to fix it ASAP

[2020-10-18 17:16] hishamco commented on #771
@sbwalker can we add localization support to other components or shall we do it after `2.0.0`?

[2020-10-18 22:58] sbwalker commented on #771
It would definitely be useful to implement the ResourceKey concept on other Controls as it makes it much easier for developers to localize their modules.

[2020-10-18 23:12] hishamco commented on #771
Ok, I will start some PRs tomorrow to make this happen

[2020-10-19 07:21] hishamco opened #822 "Components Localization"
- [x] Localize Label Component #796
- [ ] ~~Localize Alert Component~~
- [x] Localize Action Dialog Component #841
- [x] Localize Action Link Component #828 #839
- [x] Localize Section Component #849
- [x] Localize Tab Panel Component #848
- [ ] ~~Localize Audit Info Component~~

@sbwalker feel free to update the list to support more localization components

[2020-10-19 07:29] hishamco opened #823 "Rename ModuleMessage"
IMHO we need to rename it to `Message` or `Alert`, coz we already know we are working with modules, if sounds looks good I can do a PR

[2020-10-19 07:34] hishamco commented on #822
I think I will start to create a `LocalizableComponent` to abstract the localization stuff into this component instead of do it every time in the supported components

[2020-10-19 12:06] sbwalker commented on #823
this would be a breaking change as external modules are already using the ModuleMessage component. Please do not rename

[2020-10-19 12:06] #823 closed

[2020-10-19 12:57] sbwalker commented on #822
+ Section
+ TabPanel
+ AuditInfo

[2020-10-19 15:56] #570 closed

[2020-10-20 16:56] hishamco commented on #822
@sbwalker some component it's not easy to localize using `ResourceKey` pattern, for example: `ActionDialog`, `AuditInfo`, coz the messages may have arguments passed in, the way that works with localization is you should provide those arguments to the localizer

I have an idea perhaps it's crazy little bit ;) it to introduce `ResourceParams`, so in this way the localizer will not complain anymore a

[2020-10-20 18:05] sbwalker commented on #822
Perhaps I am confused, but I was envisioning the same pattern as what was used for the Label control. The Label control has a couple of parameters for ChildContent and HelpText. The developer provides a ResourceKey which by convention is used in conjunction with the parameter name to create a unique key for locating resources. For example if ResourceKey = "Address" then the key in the RESX file wo

[2020-10-20 18:11] hishamco commented on #822
I didn't mean the properties, to give more context let us say I have an `ActionDialog` with `Message=
"Delete the tenant" + tenant + "?"`, so the localizer need the value of the variable 'tenant`

Resx will contains `Delete the tenant {0}?` so the missing piece is the localized key param

[2020-10-20 18:16] sbwalker commented on #822
Ok, now I understand what you are referring to. Thank you for the explanation.

[2020-10-20 18:25] hishamco commented on #822
Seems `ResourceParams` will fix the issue, but again there's a limitation, what if two properties have a params?

[2020-10-20 19:30] sbwalker commented on #822
The other option is to keep this solution simple for now and ignore the dynamic string tokenization aspects. This would mean that the default (English) Message would be "Delete the 'master' tenant?" but the other localizations would just use static text and would be a translation for "Delete the tenant?"

[2020-10-20 19:32] hishamco commented on #822
OK, so now change required in `LocalizableComponent`

[2020-10-20 20:42] hishamco commented on #822
Regarding `AuditInfo` or `ModuleMessage` why we need to provide a `ResourceKey` nothing special here, in case of alter the messages are dynamic, so we could localize them where they supplied, of course I can localize the message inside the component, but there's no use for `ResourceKey`, same thing for `AuditInfo`. Correct me if I'm wrong

[2020-10-20 20:46] sbwalker commented on #822
Yes, you are correct - I was not thinking about those controls in the right way for localization.

[2020-10-20 21:01] hishamco commented on #822
I will go though the available components and give you my suggestions, last but not least what's is there's anything else shall we include or this is enough, coz I need to write some unit and functional test before the release

[2020-10-21 13:06] sbwalker commented on #812
@erikvb take a look at #749 if you are interested in how localization is taking shape in Oqtane

[2020-10-21 18:23] tfindlow opened #844 "Module package installation wwwroot issue in azure"
The module package installer in OqtaneServer.Infrastructure\InstallationManager.cs does a text replace on the "\wwwroot" value in the IWebHostEnvironment.WebRootPath.  Unfortunately the \wwwroot value appears twice in the azure hosting environment WebRootPath.

ContentRootPath = D:\home\site\wwwroot
WebRootPath = D:\home\site\wwwroot\wwwroot

It's probably better to replace the leading "wwwroot\"

[2020-10-22 01:08] sbwalker commented on #844
Good catch! This definitely needs to be fixed as I expect many people will want to use Oqtane on Azure.

[2020-10-22 20:32] sbwalker commented on #844
Fixed in #846

[2020-10-22 20:32] #844 closed

[2020-10-22 21:48] bmckenzie93 opened #847 "Custom module error on mac"
When building a custom module or theme there are dll's that get compiled and copied over to the framework. These files are copied over using `XCOPY` commands for windows. I am developing on a Mac, so to get my files copied over from theme to the framework I have written a script that uses the `cp` command for mac.

This is working great for my themes to send the files over, but it is not working f

[2020-10-23 02:59] mikecasas commented on #847
Make sure you are copying over all the 3rd party dll files and their dependencies.

[2020-10-23 12:05] sbwalker commented on #847
@mikecasas is correct. If you are building an external module then you need to copy its dependencies to the Oqtane /bin folder:

![image](https://user-images.githubusercontent.com/4840590/97001568-8f1d9600-1506-11eb-8389-62b829aebf8c.png)

[2020-10-24 03:07] hishamco commented on #847
@bmckenzie93 try what the guys are mentioned above, if the problem is still, please create a minimal repo that reproduce the issue

[2020-10-25 17:09] #847 closed

[2020-10-25 20:51] hishamco commented on #822
@sbwalker is there anything we should add here for V2 or shall we move to do some testing?

[2020-10-26 12:21] tvatavuk opened #852 "Loading additional JS dependencies in oqtane module"
To load more custom JS files in custom oqtane module in Client project, in index.razor I just specified additional Resource items in Resources list.

[code]

From all script resources only `Module.js` is loaded. It is expected that `Custom.js` is loaded also. For some reason oqtane will load only first script resource in list and skip others.

I'm using Oqtane.framework v1.0.4.

[2020-10-27 20:17] sbwalker commented on #852
Is Custom.js located in the same folder as Module.js? They would both need to be in the Oqtane.Server\wwwroot\Modules\YourModuleName\ folder

[2020-10-27 20:22] sbwalker commented on #852
This logic definitely works. If you look at Oqtane.Client\Modules\Controls\RichTextEditor.razor you will see that it loads multiple scripts:

    public override List<Resource> Resources => new List<Resource>()
    {
        new Resource { ResourceType = ResourceType.Script, Bundle = "Quill", Url = "js/quill1.3.6.min.js" },
        new Resource { ResourceType = ResourceType.Script, Bundle = "Quill

[2020-10-27 20:28] sbwalker commented on #852
is there a reason why there is a comma after the third Resource object declaration?

[2020-11-02 07:36] tvatavuk commented on #852
Thank a lot! Adding **Bundle** property **with same value** to each script resource was solution in my case to load additional Custom.js script.

[code]

![image](https://user-images.githubusercontent.com/2724850/97841415-12e53880-1ce6-11eb-9d01-ab7292f17cc5.png)

[2020-11-02 12:43] sbwalker commented on #852
I am glad you were able to make this work. However the fact that you needed to specify a Bundle property is a bug I believe as it is not supposed to be required. I have looked at the JavaScript and I cannot see where the bug is happening. It is supposed to iterate through the list of scripts and if the bundle property was not specified it is supposed to set the bundle property to the href value. M

[2020-11-04 13:44] sbwalker commented on #822
At this point all of the supporting infrastructure for localization is complete, and you have proven that it works for the core framework as well as external modules ( both on Blazor Server and WebAssembly ). The remaining tasks are to implement it throughout the framework. At a minimum, all of the razor components in the Client project which display user interface elements ( ie. /Modules subfolde

[2020-11-04 13:48] sbwalker commented on #772
Yes, I think this is a good idea. The component should be added to the Themes/Controls folder as it would typically be a component that someone would include in a theme rather than a module.

[2020-11-04 14:13] sbwalker commented on #822
One other question... based on the bug I fixed yesterday related to WebAssembly on .NET5, I am not sure how you would have been able to test the localization capabilities for external modules on .NET 5 running on WebAssembly?

[2020-11-04 14:26] hishamco commented on #822
What are your thoughts?

Submitting a small PRs is good at this stage to avoid unexpected results, but still there's a need to use `IStringLocalizer` in some places, I will try to create a task list to work with

I tested an Oqtane.Blogs before we moved to .NET RC, everthing works great, that's why I pushed a PR on Oqtane.Blogs repo, so everyone can try the localization. One last thing before I fo

[2020-11-04 14:29] hishamco commented on #772
After `2.0.0` we could add a language setting for the admin, which is different that language switcher to allow the admin to localize the admin part of Oqtane

This need a design because ASP.NET Core is using a special localization cookie, but in this case we need to track both front-end and back-end cultures

[2020-11-04 22:44] sbwalker commented on #794
resolved in #864

[2020-11-04 22:44] #794 closed

[2020-11-05 12:37] sbwalker commented on #822
I don't mind that developers have to use IStringLocalizer in some cases - that is the standard way of doing localization so it is expected. We have tried to make a lot of the common cases simpler by providing localized components - which should make it easier.

So should we go through the code and implement ResourceKey= and IStringLocalizer in all of the admin modules for 2.0?

In regards to Modul

[2020-11-05 13:55] sbwalker commented on #852
Fixed in #865. This was a really tricky problem. Basically using JavaScript Promises within a for loop does not work as expected due to their async nature. The includeScripts() method needed to be reworked to push all promises into an array and execute them at the end of the method using Promise.All().

[2020-11-05 13:55] #852 closed

[2020-11-08 17:55] hishamco commented on #822
Seems there's a bug I notice, I will try to check if it's related to .NET 5

[2020-11-08 19:44] hishamco commented on #772
I think I will work on this tomorrow after `2.0.0` is released, no need to more PRs at this time, so it will be a feature for `2.1.0` release

[2020-11-08 19:44] hishamco commented on #822
This will be a part of `2.1.0`

[2020-11-08 19:54] sbwalker commented on #822
What willl be part of 2.1? I mentioned Localization Support as a feature for 2.0 in my presentation that I had to submit for .NET Conf this week. Are you saying localization does not work at all? Or it works on Server but not WebAssembly? Or just LocalizedComponent doesn’t work. Any additional information would help others jump in to get this resolved. Do we need to reach out to

[2020-11-08 20:00] hishamco commented on #822
I suggest to complete the localization for everything in the admin panel into `2.1.0` if you planned to push `2.0.0` today at my time

No, everything work fine, I just figure out I have a naming issue with my resources

It works for both, you can verify from the PR that I created

[2020-11-08 20:01] sbwalker commented on #822
Ok, thank you for clarifying. I agree that we should wait until 2.1 for the Admin UI.

[2020-11-08 20:01] hishamco commented on #822
No worry about my earlier comment into the old PR, it was my fault with resource naming ;) BTW if you need to me to help you what is supported and what the limitations I can do that, or email me with localization part that you wanna mention and I can help if you don't mind

[2020-11-08 20:03] hishamco commented on #772
I will create a PR for this soon, coz I'm working with this right now, but we could defer it after the release

[2020-11-08 20:38] sbwalker commented on #772
Yes, let’s defer this until after 2.0

[2020-11-17 02:02] #171 closed

[2020-11-17 14:47] leigh-pointer opened #889 "ModuleCreator Invalid character use in naming fields"
Using invalid characters is allowed which results in the module not being able to compile.
Entering in **This-Is>Not&Allowed**  in the owner input or the module input will be excepted but creates unusable code.

[2020-11-17 15:14] hishamco commented on #889
Could you please move this to the ModuleCreator repo

[2020-11-17 17:13] hishamco commented on #313
@sbwalker seems you forgot to create a `dev` branch after releasing `2.0.0` could you add it please, so the nightly builds should target `dev` branch

[2020-11-17 17:25] hishamco opened #890 "Localize Admin Pages"
As @sbwalker commented [here](https://github.com/oqtane/oqtane.framework/issues/822#issuecomment-721740003) I will start to localize the Oqtane admin UI, so it could be fully localized. This should be done in many small PRs to make it easier to review

- [ ] ~~Dashboard~~

- [x] Files  #923

- [x] Jobs  #922

- [x] Login  #921

- [x] Logs  #920

- [x] Module Creator  #926

- [x] Module Definitions

[2020-11-17 20:07] hishamco commented on #890
@sbwalker please merge the PRs with the respect of there numbers, so #891 should come first, then #892 after that you pick what you want. This is because there 're common files for all of them

[2020-11-17 20:16] sbwalker commented on #889
The field level help say "It should not contain spaces or punctuation" - but I agree that it should do actual validation on the information entered.

@hishamco there is no ModuleCreator repo - the module is in the core framework

[2020-11-17 20:28] hishamco commented on #889
I remembered you referred to me into another repo last time, when I asked about ModuleCreator to create an external module

[2020-11-17 20:30] hishamco commented on #889
It's my fault ;) I thought this is the repo https://github.com/oqtane/DNF.Projects seems it's a module that uses the ModuleCreator. @leigh-pointer could you please add a PR for this one?

[2020-11-17 21:16] sbwalker commented on #313
Yes I will create a dev branch. All enhancements for 2.1 will need to be done on the dev branch.

[2020-11-17 21:22] hishamco commented on #890
@sbwalker you could merge the related PRs, I will try to finalize the others tomorrow

[2020-11-17 21:24] sbwalker commented on #313
So I am assuming I should create a "dev" branch and make it the default branch - correct?

[2020-11-17 21:31] hishamco commented on #313
Exactly, and let the `master` have the `2.0.0` version. It would be nice if you tag all the versions, please let me know if you need a help

[2020-11-17 21:32] sbwalker commented on #313
The releases are all tagged

[2020-11-17 21:43] leigh-pointer opened #902 "Module Creator : Creating External Module (Running from install on IIS)"
(**Running from install on IIS**)

After creating an external module trying to compile for release does not work.

4>The system cannot find the path specified.
4>File not found - *.nupkg
4>0 File(s) copied
========== Rebuild All: 4 succeeded, 0 failed, 0 skipped ==========

The Release.cmd file has a bad reference to nuget.exe

[2020-11-17 21:46] sbwalker commented on #313
OK, "dev" is created and it is now the default branch. How do I retarget your PRs to the dev branch?

[2020-11-17 21:52] hishamco commented on #313
Let me check

[2020-11-17 21:57] hishamco commented on #313
@sbwalker I retarget the branch for all the new PRs, ready to merge and it's the time to close this

[2020-11-17 21:57] #313 closed

[2020-11-17 21:58] hishamco commented on #313
BWT don't forget to check the branch for old PRs before merge

Thanks

[2020-11-17 22:07] hishamco commented on #313
@mikecasas @jimspillane @ADefWebserver please aware of the branch changes in your upcoming PRs

[2020-11-18 09:37] jiggyswift opened #904 "Oqtane 2 Bug updating Module Title"
I installed Oqtane 2 and tried editing page module titles (the heading section on each module).  But it looks like there is a caching issue where the title does not update unless you navigate away from the page and back to the page.  Even if you edit it, hit save, and edit again, the values does not appear to update.

Obviously critical bug that would impact every single person using it (I assume

[2020-11-18 09:53] hishamco commented on #904
Thanks for reporting this @jiggyswift we will have a look, if you planned to push a PR for this will be great

[2020-11-18 14:54] sbwalker commented on #904
Thank you for reporting this issue. There were some performance optimizations done in Oqtane 2.0 to reduce the number of calls from the client to the server and take advantage of the information stored in the PageState. Obviously in order to do this effectively you also need the ability for the framework to recognize when a change has been made which requires elements of the PageState to be reload

[2020-11-18 22:41] jiggyswift commented on #904
Thanks for your response Shaun.  It is funny that editing the title was about the first thing I tried after installing v2 :-)  It was obvious a caching issue.  BTW: I know you are targeting Oqtane as an application framework and not a CMS, but do you have any plans to ever use Oqtane for the actual Oqtane.com website?

[2020-11-18 23:48] sbwalker commented on #904
Yes, I do plan to use Oqtane for oqtane.org. Community websites usually have a lot of interactive features - so they are more web applications than websites ( ie. think of Github itself )

[2020-11-19 17:26] #520 closed

[2020-11-19 19:25] sbwalker commented on #904
fixed in #913 and will be in 2.0.1

[2020-11-19 19:25] #904 closed

[2020-11-19 20:44] sbwalker commented on #902
When running from install on IIS, the Oqtane release package does not contain the nuget.exe file in the /Package folder. And I would argue that it shouldn't as you generally would not want an EXE file to be published to a web server, And since you cannot rely on a web environment to have an updated version of nuget.exe or an environment variable defined, I am not sure if there is a solution?

[2020-11-19 21:19] leigh-pointer commented on #902
Could it be better to remove the External option when running compiled/live/ or on the webserver.  The files are created on the server, so the files would not be available in a live situation.

[2020-11-19 23:18] hishamco opened #933 "Localize Logs Messages"
We should localize the static logs, coz the dynamics logs are tricky but we could may find a good solution to localize them

[2020-11-20 10:19] PoisnFang opened #936 "Webassembly version cannot find system.runtime.dll"
I tried to publish and run Oqtane on v2.0 but when I swapped it from server to web assembly ot says it cant find system.runtine.dll I will post the screen shot in the morning.

[2020-11-20 12:00] hishamco commented on #936
Thanks for reporting this and waiting for your screenshots

[2020-11-20 13:15] sbwalker commented on #936
@markdav-is reported an issue in the Cerulean theme repo a few days ago: https://github.com/oqtane/oqtane.theme.cerulean/issues/3. My concern is that Microsoft changed the linker behavior in .NET 5 ( https://devblogs.microsoft.com/dotnet/app-trimming-in-net-5/ ) and it is possible that a release build of Oqtane is trimming required DLLs - because of its dynamic capability and the fact that the lin

[2020-11-20 13:19] sbwalker commented on #933
You are talking about localizing the static portions of the log messages, correct? For example:

            await Log(_alias, LogLevel.Error, string.Empty, ex, "Error Loading Site {SiteId} {Error}", _alias.SiteId, ex.Message);

You want to localize the ""Error Loading Site" static text and allow the dynamic parameters for {SiteId} and {Error} to be populated by the environment without any explici

[2020-11-20 13:22] sbwalker commented on #902
So there is a scenario where a developer may want to do local development using a release version of Oqtane. They would download a release version and set it up on IIS locally. And they may still want to use the Module Creator to scaffold the initial files to create a module. In this scenario they are not running a source version of Oqtane in Visual Studio.

[2020-11-20 13:29] sbwalker commented on #902
Another possible solution is that the Module Creator template includes nuget.exe in the /Package folder that is created

[2020-11-20 15:15] sbwalker commented on #889
This should use a RegEx of "[A-Za-z_][A-Za-z0-9_]*" for the Owner Name and Module Name

[2020-11-20 20:34] PoisnFang commented on #936
@hishamco @sbwalker  Here is the screen shot:
![image](https://user-images.githubusercontent.com/60050783/99847268-10cc0800-2b35-11eb-9573-00c98bd801f1.png)

It seems to be working fine on my local machine now, but this is still breaking on my web server. Not sure if I am missing a config with Nginx...

[2020-11-20 20:45] markdav-is commented on #936
I was thinking that we might need to rebuild the module and theme templates using a .net5 targeted solution.  I'm not sure what would be involved there.

[2020-11-20 20:53] PoisnFang commented on #936
If you publish the v1.0.4 and the v2.0.0 version side by side you can see the difference.

v1.0.4 makes 81 items
v2.0.0 makes 55 items

[2020-11-20 20:55] sbwalker commented on #936
So the .linker is most likely trimming a bunch of required DLLs during publish because of the changes in .NET 5 (  https://devblogs.microsoft.com/dotnet/app-trimming-in-net-5/ )

[2020-11-20 20:58] PoisnFang commented on #936
@sbwalker Perhaps... It seems weird though cause I made my own package with a similar architecture to Oqtane and it does not have this problem...

[2020-11-20 20:58] PoisnFang commented on #936
Here are the published files: https://drive.google.com/drive/folders/1CNZOSUX3WAdX10wieFm2tMSZcOSD4qFo

[2020-11-20 21:05] sbwalker commented on #936
It seems weird because every application has a different set of dependencies... and since Oqtane relies on dynamic loading for so many features it means that the linker will not be able to resolve the dependencies. It appears that Microsoft made significant breaking changes with the linker in .NET 5 when it comes to Blazor:

Blazor Web Assemblies

One of the biggest needs for size reduction is in

[2020-11-20 21:09] markdav-is commented on #936
I think you can tune down the rimming in the project settings.  https://docs.microsoft.com/en-us/aspnet/core/blazor/host-and-deploy/configure-trimmer?view=aspnetcore-5.0
[code]

[2020-11-20 21:14] PoisnFang commented on #936
SUPER WEIRD this had to go into effect in the last 48 hours because it was publishing just fine for me with my other app and now its not! @markdav-is I just tried that and it didn't solve it... This is straight up a dotnet issue I think

[2020-11-20 21:20] sbwalker commented on #936
So... I am assuming that the PublishTrimmed needs to be set in Oqtane.Client. However what about modules and themes? In .NET Core 3.x there was a setting in the module/theme Client project called BlazorWebAssemblyEnableLinking and it was set to false. This setting was critical in allowing Oqtane to load the modules/themes dynamically when running on WebAssembly. Is this setting still relevant on .

[2020-11-20 21:24] sbwalker commented on #936
@PoisnFang is the difference that you recently did a build in Release mode?

[2020-11-20 21:29] PoisnFang commented on #936
@sbwalker Ah yes, it would appear that I did!

[2020-11-20 21:41] sbwalker commented on #889
fixed in dev branch

[2020-11-20 21:41] #889 closed

[2020-11-20 21:47] PoisnFang commented on #936
Ok I was wrong about it changing overnight, I was doing a self-contained deployment. BUT I did try my other project my my custom package using .NET 5 and it works fine. So **THE ISSUE** is has something to do with `AssemblyExtensions.cs` and whatever is it trying to get on load...

[2020-11-20 22:01] PoisnFang commented on #936
@sbwalker @hishamco  :/ well I am a goober, looks like its a module issue due to my custom module....  Another good example of how this doesnt speed up my development... sorry to waste your time!

[2020-11-20 22:01] #936 closed

[2020-11-20 22:02] sbwalker commented on #936
can you explain what the problem was, as the error looks similar to what @markdav-is reported for the Cerulean theme

[2020-11-20 22:09] PoisnFang commented on #936
Here is the Error in Debug mode (gives more details!)
![image](https://user-images.githubusercontent.com/60050783/99854386-f8161f00-2b41-11eb-96d0-b1ccbbd02f6a.png)

[2020-11-20 22:10] PoisnFang commented on #936
I am using the BlazorInputFile package and its causing a problem, I need to convert over to the new file input field. IDK if it would be something similar to the Cerulean theme error

[2020-11-20 22:25] sbwalker commented on #936
thank you for sharing!

[2020-11-20 22:55] PoisnFang commented on #936
There might be something more here, I am running more errors of similar nature...

[2020-11-21 09:50] hishamco commented on #933
Exactly!!

[2020-11-23 09:54] michalss opened #942 "Use Mysql instead of mssql"
Is there posibility to use MySql or MariaDB.  See many ppl not using MSSQL since they hosting on Linux, also for example mysql is very popular and to be hones much better then mssql

[2020-11-23 13:15] jimspillane commented on #942
Hi @michalss

It is in the roadmap, @sbwalker provides details in discussion thread #851

[2020-11-23 19:24] michalss commented on #942
Nice but there is nothing about if this will be added or not. Like this framework but if mysql is not implemented then it is useless for linux users and you are stick with expensive window servers :(

[2020-11-23 19:33] sbwalker commented on #942
Based on the number of requests, I believe support for multiple databases should be the major feature for 2.1.0.

[2020-11-24 13:45] m-ratnikov opened #943 "Amazon Aurora support"
Hi there!

As I figured out, now oqtane framework supports MS SQL database only (#942, #851). Due to migrations issue.
Can you please clarify two moments?

1) When EF migrations support will be implemented. Will this automatically enable the ability to use the Amazon Aurora cloud DB solution as an underlying oqtane database?

2) Can you give an approximate date of the release when oqtane will beco

[2020-11-24 13:53] m-ratnikov opened #944 "Single Sign-On support"
Hi there!

I couldn't find the ability to use Single Sign-On (SSO) feature in the oqtane.
But I see in the roadmap "OAuth Support" feature.
Can you please clarify a few things?

1) Does "OAuth Support" feature implies SSO functionality support.
2) If not. Is there some workaround solution for this?
3) Can you give an approximate date of the "OAuth Support" feature release?

Thanks!

[2020-11-24 15:34] sbwalker opened #945 "Localization"
@hishamco after your recent changes to implement localization throughout the Admin UI I am seeing:

![image](https://user-images.githubusercontent.com/4840590/100115296-5859d900-2e40-11eb-920c-05fb360270ad.png)

My understanding was that if someone is not using localization, then the user interface should be displayed in the fallback default language (English). Is that your understanding as well?

[2020-11-24 15:43] sbwalker commented on #943
Based on the feedback from users, I believe that multiple database support and EF Core migrations should be the main feature for the upcoming 2.1.0 release. There will be a lot of work and testing required in order to get it working. The feature is not even designed at this point but it will most likely rely on the native EF Core ability to support multiple relational databases. Amazon Aurora is a

[2020-11-24 15:46] sbwalker commented on #944
There are literally hundreds of single sign-on solutions that are available so you would need to be more specific about your needs.

[2020-11-24 15:58] m-ratnikov commented on #944
I'm looking to use IdentityServer or Amazon Cognito.

[2020-11-24 15:59] m-ratnikov commented on #943
I see. Thanks for the answer.

[2020-11-24 19:15] sbwalker commented on #944
At the moment there is some uncertainty related to auth solutions due to the recent announcements about IdentityServer - https://github.com/dotnet/aspnetcore/issues/26489

[2020-11-24 20:22] hishamco commented on #945
Sorry Shaun, I have an issue with my hard disk, I will have a look ASAP, the fallback should be the default value which defined in the buttons (English)

Just assign this to me and I will try to figure out what's going on

[2020-11-25 21:52] #945 closed

[2020-11-26 16:49] #890 closed

[2020-11-26 16:51] hishamco commented on #942
As I see there 're many issues filed to request multiple database support, could we add a new discussion describing what the databases should be supported? What are the challenges? Then we could close all the opened issues to make it easy for tracking

[2020-11-26 18:47] #822 closed

[2020-11-27 18:44] hishamco commented on #933
I did some progress here, I come up with idea to reduce the RESX files into 1 which is cool and easy to manage, during my testing I notice the dynamic parameters {Param} are sometimes a JSON object like what I saw when creating a new role. I'm not sure if it's necessary to do that, IMHO we could use role name in this case and keep the JSON object on the properties as its for detail info

[2020-11-27 19:16] hishamco commented on #773
@stevesanderson is there a way to limit supported cultures in Blazor Web Assembly?

[2020-11-27 19:22] hishamco commented on #769
Related to this issue, when you hit the Url http://localhost:44357/admin/roles/*/15/add for instance the Add Role dialog will not show up, while it's working fine with http://localhost:44357/admin/roles/*/15/Add

[2020-11-27 19:48] PoisnFang commented on #769
@sbwalker Sorry, I forgot to respond to this, but the scenario is exactly what @hishamco is describing. Module actions are case sensitive, as well as URL parameters. It is my belief that only queries should be case sensitive.

[2020-11-27 19:50] PoisnFang commented on #769
If we ran comparisons when searching for these using `ToUpper()` then we could solve this.

[2020-11-27 20:24] hishamco commented on #769
PR will be there soon ...

[2020-11-27 20:25] PoisnFang commented on #769
Also I believe we still need to do this with subsites

[2020-11-27 20:33] hishamco commented on #769
Could you please elaborate?

[2020-11-28 00:36] PoisnFang commented on #769
@hishamco it was something mentioned by @mikecasas back in gitter, that when you make a subsite the site is site sensitive.

[2020-11-28 00:49] PoisnFang commented on #769
the pages themselves are case sensitive, like you cant go to http://localhost:44357/Admin/users

[2020-11-28 02:52] sbwalker commented on #942
@hishamco I will start a new Discussion for this item to outline the high level requirements for multiple database support.

[2020-11-28 09:18] hishamco commented on #769
I will try to cover that in my PR

[2020-11-28 12:11] leigh-pointer opened #957 "Module Development. Module.css not not available in the settings control"
I have added the code:
public override List<Resource>...... to include my module.css
in my settings control, but the module.css is not visible in the page head tag, and obviously no styles are rendered

[2020-11-28 15:03] ADefWebserver opened #959 "Deploy to Azure Button not working"
It appears the Deploy to Azure button is broken with the .NET 5 version

![image](https://user-images.githubusercontent.com/1857799/100518555-28b01700-3147-11eb-8d2f-e2a5fa941593.png)

[code]

[code]

[code]

This may help:
https://docs.microsoft.com/en-us/answers/questions/166759/azure-deployment-failed-with-following-error.html

[2020-11-28 17:57] ADefWebserver commented on #959
Also tracking this issue here: https://github.com/ADefWebserver/Blazor-Blogs/issues/53

[2020-11-30 12:59] sbwalker commented on #959
Thank you for testing this Michael. Hopefully you will be able to find a solution. I assume this just affects the Deploy to Azure button - but if you did a manual deployment to Azure it would work fine?

[2020-11-30 13:12] sbwalker commented on #957
Good catch Leigh! This is a bug... I tracked it down to some logic in the SiteRouter which does some custom processing for Settings components. It treats these components differently because it actually renders a common Oqtane.Modules.Admin.Modules.Settings component and then embeds your custom Settings component inside of it. This will be a tricky one to test.

[2020-11-30 13:14] #933 closed

[2020-11-30 14:00] ADefWebserver commented on #959
@sbwalker - A manual Azure deployment works. If this is not resolved in the next two weeks, that will be my suggestion to move forward. This weekend I want to try simply updating the azuredeploy.json file. Blazor-Blogs has the same problem, and I am able to do my testing there. Also, we can't have the only projects that has this issue, so I hope Microsoft will respond to my forum posts.

[2020-12-01 07:03] nissan opened #965 "Can Oqtane identity management integrate easily with an Identity as a service platform like Auth0?"
I really do like how Oqtane is built, thank you for a great example code base. One question I've been exploring the code to figure out the level of effort needed to customise to do is as follows:
Currently the ASP.Net Core Identity Model is used inside of the default Oqtane deployment if I understand correctly to handle storage of users and roles inside each tenant database.
I want to change this

[2020-12-01 14:09] ADefWebserver commented on #959
Until this is fixed, the best method to use to install Oqtane on Azure is: [Installing Blazor Oqtane](https://blazorhelpwebsite.com/ViewBlogPost/1)

[2020-12-01 15:59] chazgorman commented on #942
Sharing a rough port of oqtane to support Postgres over in this branch:

https://github.com/chazgorman/oqtane.framework/tree/postgres

Some of the key modifications:

1. Change of fields named 'Order' to 'OrderVal' in SQL scripts to avoid conflict with SQL keyword. (This may have been better solved by "quoting" keyword to avoid conflict:

https://github.com/chazgorman/oqtane.framework/blob/66040e6

[2020-12-01 16:59] justSteve opened #966 "Two tests are failing"
I've tried against both Dev and Master. The two tests that use the _returnUrl=_ param are not producing expected URL. The navigatedUrl includes a **'!'** in the path:

`"/contoso/login/!/returnUrl=/admin"`

The runtime behavior is correct -- only the tests display the problem.

[2020-12-01 19:59] hishamco commented on #966
I will check those and push the fix soon, @sbwalker that's why CI/CD is useful ;)

[2020-12-01 20:02] hishamco commented on #942
Thanks for your input @chazgorman hope to copy it into https://github.com/oqtane/oqtane.framework/discussions/964

[2020-12-01 20:04] hishamco commented on #965
I think AUTH is one of the focused areas after 2.0.0, @nissan if you can share your though about it, I will be thankful

[2020-12-01 20:35] nissan commented on #965
Ii can speak from the perspective of an Enterprise software developer, which is where I am really keen to use Oqtane at the moment to help onboard our team to building new applications with Blazor. From a technical standpoint, it already is supporting OAuth from what I see, but being able to specify the auth server or service via configuration explicitly would also be good, so that an Oqtane deplo

[2020-12-01 20:43] hishamco commented on #965
Thanks @nissan for your explanation, BTW I saw a related issue #944 that may help us to do AUTH right way. @sbwalker your thought about AUTH while it was in 2.1.0 but seems move to future milestones

[2020-12-01 21:00] hishamco commented on #966
I can reproduce the issue,  I'm working on it ...

[2020-12-01 21:05] hishamco commented on #966
@sbwalker why the ! included instead of ? in the return url?!! Or is there something changed in Blazor?

[2020-12-01 21:59] justSteve commented on #966
FWIW, I've been looking for a project in need of some tests as an excuse to just put my head down and plow thru until I gotten my head around the subject. I'm not in a position to make _toolset_ or '_starting point_' decisions but if anyone would like to define that starting point I have an hour or two per day for the next few weeks to contribute.

[2020-12-01 22:27] hishamco commented on #772
I already started working on this two days ago:

- The strategry to set the culture is limited in Blazor to Cookies and providing a UI to choose the culture

- What I'm suggeesting is let Blazor Server work with Cookies to align with Oqtane phylosophy and Blazor Web Assembly could use local storage

After everything is goes fine I will try to use cookies everywhere

[2020-12-02 14:35] sbwalker commented on #769
This should be fixed in #968

[2020-12-02 14:35] #769 closed

[2020-12-02 20:54] nissan commented on #965
I found that @sbwalker did indeed blog about the Auth bits in Oqtane https://www.oqtane.org/Resources/Blog/PostId/527/exploring-authentication-in-blazor with sufficient technical details to get me started researching the problem of how to switch to another auth server or service more, if I figure it out I will of course share what I do back here. Thanks!

[2020-12-03 03:09] ADefWebserver commented on #959
@sbwalker I have spent days on this and I cannot come up with a Deploy To Azure template that works anymore :(  My recommendation is to remove the button from the README.md page.

[2020-12-03 13:54] kevison opened #970 "SSL issue when trying to clone"
When trying to clone i get ssk cert problem error

Cloning into 'oqtane.framework'...
fatal: unable to access 'https://github.com/oqtane/oqtane.framework.git/': SSL certificate problem: unable to get local issuer certificate

[2020-12-03 14:00] kevison commented on #970
was able to resolve
`git config --global http.sslBackend schannel `

[2020-12-03 14:00] #970 closed

[2020-12-03 14:09] sbwalker commented on #942
@chazgorman thank you for your efforts! I have tried to outline the goals and changes required in #964 - one of the main items being a transition to EF Core Migrations. So we would not be relying on SQL scripts in the future - mainly for the reason you outlined above in (1) where SQL Scripts are not compatible across different database platforms and we do not want developers to have to create uniq

[2020-12-03 14:27] hishamco commented on #942
@sbwalker shall we close all the related issues and focus in one place #964?

[2020-12-03 19:06] mixlplix opened #973 "Running Oqtane on a load balancer"
I am trying to get Oqtane running in a production environment.  This is on AWS with a load balancer that is terminating HTTPS.  I have been troubleshooting this for several days now.

The public url is: https://oqtane.cmrus.com/

I have tried various things like disabling https redirection, adding header forwarding and none of them seem to work.  I created a standard Blazor Server app (File...New

[2020-12-03 20:18] sbwalker commented on #973
When you installed Oqtane did you use the Install Wizard to provide the database connection details, or did you not even get that far?

[2020-12-03 20:19] #957 closed

[2020-12-03 20:23] mixlplix commented on #973
I published Oqtane from Visual Studio using a network share over the VPN.

From: Shaun Walker <notifications@github.com>
Sent: Thursday, December 3, 2020 12:18 PM
To: oqtane/oqtane.framework <oqtane.framework@noreply.github.com>
Cc: Doug Frazier <doug@mixlplix.com>; Author <author@noreply.github.com>
Subject: Re: [oqtane/oqtane.framework] Running Oqtane on a load balancer (#973)

When you installe

[2020-12-03 20:36] sbwalker commented on #973
In the web console I can see that the client is trying to call the server:

at System.Net.Http.HttpClient.SendAsyncCore(HttpRequestMessage request, HttpCompletionOption completionOption, Boolean async, Boolean emitTelemetryStartStop, CancellationToken cancellationToken)
at Oqtane.Services.ServiceBase.GetJsonAsync[T](String uri) in C:\code\blazor\oqtane.framework\Oqtane.Client\Services\ServiceBase.

[2020-12-03 20:58] mixlplix commented on #973
True, it looks like I did not install Oqtane, When I go to the root address on the local machine I see the installation screen, and I clicked “Install Now”, but am getting an error about local runtime db, looks like I need to enable something on that machine.  The swagger URL works now, though.

https://oqtane.cmrus.com/swagger/index.html

So https traffic is being forwarded correctly, so I would

[2020-12-04 01:38] ADefWebserver commented on #959
@sbwalker - I made a Forum post with Microsoft: https://docs.microsoft.com/en-us/answers/questions/185823/deploy-to-azure-not-working-for-net-5-github-appli.html

[2020-12-04 15:47] jimspillane commented on #959
@ADefWebserver try the patch in the PR is created.

[2020-12-04 16:06] ADefWebserver commented on #959
@jimspillane - Thanks. I will try it tonight!

[2020-12-04 18:20] ADefWebserver commented on #959
@jimspillane - I implemented your fix in [Blazor-Blogs](https://github.com/ADefWebserver/Blazor-Blogs) and I can confirm it works 👍🏾🙌🏾

However, I cannot confirm it in[ your Repo](https://github.com/jimspillane/oqtane.framework/tree/FixAureDeploy) because the Deploy to Azure button there points to the unmodified azuredeploy.json at: https://github.com/oqtane/oqtane.framework/blob/dev/azuredeploy.j

[2020-12-04 18:28] jimspillane commented on #959
Sorry, I did not want to change the URL in the button.  Try this link that points to the branch [Deploy to Azure](https://portal.azure.com/#create/Microsoft.Template/uri/https%3A%2F%2Fraw.githubusercontent.com%2Fjimspillane%2Foqtane.framework%2FFixAureDeploy%2Fazuredeploy.json)

[2020-12-04 18:55] ADefWebserver commented on #959
@jimspillane - I know you **have** to code your PR the way you did for it to work when it is merged 👍

I tested the link you provided and while it said it failed, it still worked!

![image](https://user-images.githubusercontent.com/1857799/101203100-0e7ea900-361f-11eb-9af7-877b9da20b19.png)

![image](https://user-images.githubusercontent.com/1857799/101203147-19d1d480-361f-11eb-93bd-e5884a9d2d2b.p

[2020-12-04 19:53] #772 closed

[2020-12-04 20:29] jimspillane commented on #959
That's interesting. I will try it again and see if I can get the error to pop up.

[2020-12-06 15:19] sbwalker commented on #973
If you are running on Blazor Server then you are using SignalR under the covers. So you would need to make sure that web sockets are configured to work with your web farm configuration. Another thing to keep in mind is when you deployed the default Blazor Server template app, it is a server app and is not architected in a true client/server manner. It does not have any data access so it’s not real

[2020-12-07 06:18] markdav-is commented on #973
Hi, I'm on @mixlplix 's team.  We are using Blazor Server version of Oqtane because we are trying to use it for a high-volume ticketing system like Ticketmaster.  We are skeptical about performance but would like to trust the platform and test it under a load.  If the client and server bits are running on the same machine via HTTP, should the routing be set to  localhost and not trying to go back

[2020-12-07 14:45] ADefWebserver commented on #944
Because there is a [**free** tier](https://azure.microsoft.com/en-us/pricing/details/active-directory/external-identities/), I recommend implementing **Azure B2C** support to allow SSO. See: [Blazor and Azure B2C: The Big Picture](https://blazorhelpwebsite.com/ViewBlogPost/42)

[2020-12-07 19:06] #959 closed

[2020-12-07 20:24] markdav-is commented on #973
@sbwalker it looks like the calls to the domain name is what's causing the issue.  it's creating a "hairpin" that is not allowed.  Is there a setting in Oqtane to make calls to the service route to localhost and not the site domain?  I think we can fix this with a local hosts entry, but it would be nice to control that thru deployment.

[2020-12-07 22:05] sbwalker commented on #973
There is no setting which exists for this currently. ServiceBase has a method for CreateApiUrl() which all services use to make API calls. Currently this method creates relative Urls based on the Client domain. What you are asking for is a way to specify a different domain so that this method produces absolute Urls. There may also be some security implications to this change as well as the auth co

[2020-12-07 23:54] mixlplix commented on #973
Hi Shaun, looks like we got this figured out.  The issue was that we had an entry in the local hosts file that was directing the response back to the local machine’s IIS which does not have port 443 enabled.  When I removed the host file entry it worked!

Thanks for you support

</doug>

From: Shaun Walker <notifications@github.com>
Sent: Monday, December 7, 2020 2:05 PM
To: oqtane/oqtane.framewor

[2020-12-08 13:12] sbwalker commented on #973
That is good news... I am glad you were able to resolve the configuration issue. I guess the most important conclusion from this thread is that based on the client/server architecture of Oqtane, the client always makes HTTP calls to the server API. When running on Blazor Server this essentially means you are using "hairpinning" (or NAT loopback)  where the server is accessing itself via the extern

[2020-12-08 14:59] markdav-is commented on #973
One option I can think of for this that would short-circuit the http calls would be to call the controllers directly somehow as a project reference. I'll backlog that on our project and share any discoveries.

[2020-12-08 15:18] sbwalker commented on #973
Since the goal in Oqtane is to support multiple hosting models in the same code base, Oqtane uses a standard client/server model. Theoretically it would be possible to rearchitect so that when running on Blazor Server the service classes in the Client project could interface directly with the Server project - however it could not be done via the existing Web API layer - it would need some other eq

[2020-12-08 15:23] markdav-is commented on #973
thanks for the details.  I think it's best for us to follow the pattern, but if we end up bottlenecking because we are too service oriented, short circuiting is a terrific way to cut down on network traffic and serialization. I agree with all your points, and this would be a hack on our part for performance.

[2020-12-08 15:27] markdav-is commented on #973
I'm really interested in your comments around WASM and high performance.  My thought has been that WASM would be slow to load on that initial hit and thus a poor choice for a high performance site.  So we were planning to dump RAM into the webheads to account for the SignalR overhead.  I'd like to know more.  perhaps this warrants a specific discussion thread.

[2020-12-08 16:03] jimspillane commented on #973
@markdav-is I would evaluate the [UI latency](https://docs.microsoft.com/en-us/aspnet/core/blazor/hosting-models?view=aspnetcore-5.0#ui-latency) of the Server hosted model, especially if you have global browsers.

[2020-12-09 10:54] chlupac opened #989 "Some comments to localization"
@hishamco, great job with localization.

I know  than it's work in progress and some of this points are planned or obsolete but:

My recommendation in this topic:
1. Allow use Language Switcher as standalone control in skin. Take it out from Control panel or allow hide it with control panel parameter. I'm not able without modification of Oqtane source switch off Language Switcher in skin.
2. Make

[2020-12-09 11:57] hishamco commented on #989
Hi @chlupac nice to see you again, regarding localization there are some features still in progress or not planned yet

1. `LanguageSwitcher` is already has a `Visible` property as requested by @sbwalker so you can toggle the visibility programmatically also it's located in Skins if I'm not wrong

2. Localization options are stored in `appsettings.json` it could not be in a setting because localiz

[2020-12-09 12:55] sbwalker commented on #989
There were some comments in #967 which I will move here so they are easier to find:

- The LanguageSwitcher component was added to the ControlPanel. The benefit to this approach is that every theme will get access to this feature without having to explicitly add the new component. I think this is the correct approach ( as opposed to creating a new LanguageSwitcher component which would need to be

[2020-12-09 13:21] hishamco commented on #989
We could open a separated issues for each so I can closed it when it's done or we could add a checklist here so it could be easy for tracking

[2020-12-09 14:02] chlupac commented on #989
1. Control panel should have parameter ShowLangSwitcher="true" or this should be option for site.
2. Languages for site can be subset from appsettings.json
3. Localization options per site, not per tenant, please, mechanism for site settings is already here (SMTP)

[2020-12-09 14:32] sbwalker commented on #989
1. @chlupac you are correct - based on the goal I described above for allowing users to hide the language switcher component, the current implementation is not correct. The property should not have been added to the LanguageSwitcher component - it should have been added to the ControlPanel component.

2. As a general rule it is preferable to keep settings to a bare minimum in appsettings.json. The

[2020-12-09 14:49] hishamco commented on #989
Fixed in #990

[2020-12-10 05:54] leigh-pointer opened #992 "URL parameters case sensitive."
Using the PageState.QueryString["id"] the "iD" will throw an error due to a miss match.  Personally adding case sensitivity to params is just another debugging headache.  Is this by design?

[2020-12-10 11:38] lthoa opened #993 "RFC: Support Source Generator"
Hi @sbwalker, could you please specify the target framework for Oqtane.Shared project to **netstandard2.0**?
Because the Source Generator is a .NET Standard 2.0 assembly that it is usable in environments where .NET Standard components can be loaded and run. I found .NET Standard 2.0 to be enough for Oqtane.Shared project as well.

Thank you very much.

[2020-12-10 12:14] hishamco commented on #992
@sbwalker did you fix this in the last PR

[2020-12-10 13:48] sbwalker commented on #993
Are you referring to the new .NET Source Generator?

https://devblogs.microsoft.com/dotnet/introducing-c-source-generators/

The Oqtane.Shared project was moved to .NET 5 alongwith the rest of the Oqtane solution when we released version 2.0. The Oqtane.Shared project contains shared models and utility methods currently. We would need to understand your use case in more detail to determine if it m

[2020-12-10 14:38] sbwalker commented on #992
@hishamco this was not one of the case sensitivity items I addressed in my last PR

Note that the RFC spec says:

"The scheme and host are case-insensitive and normally provided in lowercase; all other components are compared in a case-sensitive manner. Characters other than those in the "reserved" set are equivalent to their percent-encoded octets: the normal form is to not encode them (see Secti

[2020-12-10 16:39] lthoa commented on #993
Yes, I am referring to the new .NET Source Generator (SG).

I just define the Model and use the SG to create every other paths of the stream from the blazor page to the API, to Repository ...

![image](https://user-images.githubusercontent.com/6874322/101800153-89742200-3b3f-11eb-8b47-24b9e1f6af96.png)

The problem is some Models needs to inherit from **Oqtane.Models.IAuditable**, because inherit

[2020-12-11 10:03] chlupac opened #994 "RFC: View web as specific user or member of specific group"
For web administrator will be useful to have possibility view site as someone else and avoid to create test accounts.
@sbwalker is it possible or it requires huge changes? What do you thing about this feature?

[2020-12-11 10:47] leigh-pointer commented on #994
I believe this could be done.  The best approach, as I see it would be to build the functionality into a theme as you wouldn't want this in the foundation framework.

[2020-12-11 12:57] sbwalker commented on #992
I am going to test the following, which may be a simple fix and not a breaking change:

Dictionary<string, string> dict = new Dictionary<string, string>(StringComparer.InvariantCultureIgnoreCase);

[2020-12-11 13:14] sbwalker commented on #994
DNN had this feature. It was available in the User Management area. You would locate a user in the main list and click Edit.. and in the detailed User UI there was a button for "Impersonate User". There was a lot of debate of whether this button should be visible to only Host users or also Site Administrators - as obviously it has security implications. When this button was clicked, the auth cooki

[2020-12-11 14:08] chlupac commented on #994
Ok, I see now security implications, test account will be best solution. @sbwalker thank you for answer.

[2020-12-11 14:09] jimspillane commented on #944
News regarding IdentityServer: [Introducing Community Edition](https://blog.duendesoftware.com/posts/20201210_community_edition/)

[2020-12-11 14:25] sbwalker commented on #944
@jimspillane thanks for posting this news. It is good for the .NET ecosystem - but my gut reaction is that it will not work for Oqtane as we cannot include a component unless it is offered under a license which is at least as liberal as Oqtane itself. This rules out the Community Edition of IdentityServer  as well as the RPL licensed open source option.

[2020-12-11 14:31] sbwalker commented on #994
@chlupac to be clear... I actually think this is a very useful feature - I was just trying to point out some of the technical challenges in implementation. If we are able to solve these challenges, I think it would be a good enhancement.

[2020-12-11 14:58] sbwalker commented on #973
@markdav-is you are correct that when running on WebAssembly, the initial browser connection needs to download assemblies. However from that point on the assemblies are cached in the browser and do not impose any performance issues. A true SPA architecture should always be considerably more scalable than a traditional server architecture because a SPA is stateless and requires far less information

[2020-12-11 15:00] sbwalker commented on #973
I should also mention that the user experience in Blazor Server is not always optimal - especially for consumer facing applications. Consider the common scenario where a user has a Blazor Server application open in a browser tab and does not interact with it for a few minutes. The SignalR connection will drop and the user will see the following message:

![image](https://user-images.githubusercont

[2020-12-11 15:28] markdav-is commented on #973
up until this point I was considering Oqtane primarily a Blazor Server solution.  Sounds like I should take another look at how to make Oqtane work in a WASM mode.  Due to the dynamic nature of the loading of modules it's going to be hard to optimize the size of the WASM payload.  There are improvements to shrinking the payload size for WASM on .net 5.0 and more coming in 6 but these are all compi

[2020-12-11 16:31] sbwalker commented on #973
Oqtane already fully supports Blazor Server and Blazor WebAssembly. To run on WebAssembly you can change a single setting in Oqtane.Server\appsettings.json:

[code]

When running on WebAssembly, Oqtane manages the dynamic downloading assemblies to the browser. It currently does this by creating a compressed ZIP of all required assemblies (to minimize the size), sending them to the client, decompre

[2020-12-11 17:51] hishamco commented on #994
What are the challenges Shaun?

[2020-12-11 17:53] hishamco commented on #994
User impersonation is a common feature in many CMSs like: Umbraco, DNN .. ect, I already implemented in OC, I'm not sure what the security implication that @chlupac refer to?

[2020-12-12 20:14] Rodien commented on #973
@markdav-is you guys should look at Lazy loading: https://docs.microsoft.com/en-us/aspnet/core/blazor/webassembly-lazy-load-assemblies?view=aspnetcore-5.0

@sbwalker metion lazy loading in a presentation he gave a month or so ago, so Oqtane will probably make use of lazy loading in a future upgrade.

[2020-12-12 20:37] sbwalker commented on #973
@Rodien one thing I should mention is that the Lazy Loading enhancement that Microsoft introduced in .NET 5 has a major limitation. Real world client projects running on WebAssembly often contain service classes for interaction with back-end APIs… and developers usually want to utilize the standard .NET Core dependency injection approach. So these services need to be registered in the service cont

[2020-12-12 20:43] sbwalker commented on #994
@hishamco the technical challenges of supporting authentication in Blazor for both Server and WebAssembly hosting models is described in this blog: https://www.oqtane.org/Resources/Blog/PostId/527/exploring-authentication-in-blazor. The client/server nature of the framework combined with the behavior of SignalR makes it trickier than expected to deal with auth cookies. A user impersonation feature

[2020-12-12 20:59] sbwalker commented on #992
This works and is backwards compatible

[2020-12-12 20:59] #992 closed

[2020-12-13 00:38] markdav-is commented on #973
We tried flipping the bits to run our project WASM style and there's lots of missing libraries.  We need to revisit how we are bundling for release and make sure we have all the dependent libraries.  When we moved our modules to .Net 5.0 we started getting release errors with missing libraries. Changes in compiling feel incompatible with Oqtane dynamic loading.  I can't see how we can get a smalle

[2020-12-13 01:48] sbwalker commented on #973
Did you see this discussion: https://github.com/oqtane/oqtane.framework/discussions/996

[2020-12-13 15:07] markdav-is commented on #973
Good timing. I'll check that out.

[2020-12-14 15:01] TomaszGrzmilas commented on #989
Hi,

I want to add Polish translation for oqtane. But I can't see any *.resx files :(

Coult you tell me how to do the translations ?

[2020-12-14 15:14] sbwalker commented on #989
@TomaszGrzmilas there is a translations repo which was created last week:

https://github.com/oqtane/oqtane.translations

I believe @hishamco is in the process of setting it up for contributions.

[2020-12-14 20:14] hishamco commented on #989
Hi @TomaszGrzmilas as @sbwalker mentioned a new repo is created, I will try to start publish RESX files there, so people can now what should be localized

I was suggested to create a localization extractor tool to simplifiy the process, but if you are ready to contribute in Polish culture,please have a look to https://github.com/oqtane/oqtane.translations/discussions/1 so you can start localize yo

[2020-12-17 17:18] artmedia opened #1002 "Theme project updated to v.2"
Hi,
During Christmas holidays I'd like to learn how to develop custom Themes.
Cerulean theme is updated to version 1 of Oqtane
Is there a Theme project to download which is updated to v.2 of Oqtane?

[2020-12-17 17:20] hishamco commented on #1002
I think both Oqtane & Cerulean themes are work well in v 2.0.0

[2020-12-18 07:39] tanekim77 opened #1003 "Oqtane + Material Blazor Library"
I am trying to use Material.Blazor library with Oqtane. I created a custom Theme folder in Oqtane.Client/Themes/MaterialTheme, but I don't know how to include    builder.Services.AddMBServices() in Program.cs and <MBAnchor /> in App.razer in the theme folder as in the instruction in the following link: https://material-blazor.com/docs/articles/Installation.html

 In normal project, I would just in

[2020-12-18 12:53] tanekim77 opened #1004 "Overriding Controls Component in Custom Theme."
In Oqtane.Client/Themes, I created a custom theme folder called MaterialTheme, and I want to override some components in Controls folder wihout modifying them. For example, I want to override Menu.razor in MaterialTheme folder. Is there way to do that?

[2020-12-18 13:05] tanekim77 opened #1005 "Bug in Oqtane.Client/Themes/ThemeBase.cs"
In Oqtane.Client/Themes/ThemeBase.cs I found the following code,

[code]

But this is dangerous because some of razor components may call JsInterop that relies on some of the resources upon component initialization, but the resources won't be available at that time because they are only availalbe after Render. To fix this issue, the code above needs to be changed to

[code]

[2020-12-18 14:39] #1004 closed

[2020-12-18 14:47] hishamco commented on #1005
Could you please send a PR?

[2020-12-18 15:06] tanekim77 commented on #1005
I just did:
https://github.com/oqtane/oqtane.framework/pull/1006

[2020-12-18 15:43] tanekim77 opened #1007 "Fontawesome + Oqtane question"
I am seeing that Page class has an Icon property, and it specifies an Open Iconic name.

If I want to use icon that is not available in Open Iconic, is there a way to do so?

Is there way for me to include extra property like public string FontAwesomeIcon {get; set;} in Page class without modifying Page.cs? In this way, when I am creating a custom theme, I can use whatever icon that is available t

[2020-12-18 15:54] sbwalker commented on #1005
Can you please provide steps to reproduce the issue you are describing - we need to be able to validate the issue prior to introducing a fix.

[2020-12-18 16:01] sbwalker commented on #1003
There is an IClientStartup and IServerStartup interface which can be used for adding additional startup registration in custom themes and modules.

[2020-12-18 16:04] sbwalker commented on #1007
Currently Oqtane supports Open Iconic. We will not be distributing any additional icon libraries as part of the framework as it goes against our Philosophy ( https://www.oqtane.org/Resources/Blog/PostId/538/oqtane-philosophy ) related to third party dependencies. The Page property for Icon should probably not be tightly coupled to Open Iconic so that it is possible to use other icon libraries. Thi

[2020-12-18 16:07] sbwalker commented on #1002
There are no architectural or breaking changes for themes between v1 and v2 - which is why the Cerulean theme created for V1 continues to work fine on V2.

[2020-12-18 16:55] #1002 closed

[2020-12-18 22:21] #1007 closed

[2020-12-18 23:25] tanekim77 commented on #1005
Sure. To reproduce a problem, you can create a razor component that calls JsIntrop calls in OnInitialized that calls a javascript function that in turns rely on some of the resources.

Or, to reproduce it faster, you can install a Material.Blazor library, follow the installation guide in the link, and try to use MBTooltip component in any razor file.
 https://material-blazor.com/docs/articles/Inst

[2020-12-18 23:30] #1003 closed

[2020-12-19 18:26] sbwalker commented on #1005
It was my understanding that JSInterop should only be called in OnAfterRender. See the guidance below from the Blazor team:

https://github.com/dotnet/aspnetcore/issues/21217

Calling JSInterop from OnInitialized does work in some scenarios but eventually you run into issues as it is not the recommended best practice. I believe this is what you are experiencing in your repro example.

[2020-12-19 18:58] tanekim77 commented on #1005
It's weird how Blazor behaves in such scenarios.
I just found the following excerpt from the official documentation that calls Js from OnInitialized method. Maybe such documentation causes many library authors to follow bad practices.
[code]
https://docs.microsoft.com/en-us/aspnet/core/blazor/call-javascript-from-dotnet?view=aspnetcore-5.0

[2020-12-19 18:59] #1005 closed

[2020-12-22 13:38] sbwalker commented on #1007
#1009 removes the hard dependency on Open Iconic and allows you to use other icon libraries

[2020-12-22 15:22] tanekim77 opened #1010 "A way for custom theme to overwrite Login Page"
If I want to create a new theme, is there a proper way to overwrite the login page located in Oqtane.Client.Modules.Admin.Login.Index.razor for that theme?

[2020-12-23 06:33] icevld opened #1013 "Can we put oqtane in to the Docker?"
Tell me please, is possible to deploy the Octane framework based on the Linux Debian distribution in a Docker container?
Or not? Sorry for my errors in english.

[2020-12-23 16:00] tanekim77 opened #1014 "Localization: Po file support"
I am seeing that there a word "Localizer" is used for IStringLocalizer, and used like @ Localizer["Hello"]

I would recommend to use the word "S" instead, so that it is used like @ S["Hello"]

based on the convention by OrchardCMS framework.

The reason being is that it's not only more succinct but also opens up for other possibilities for the users. One major benefit would be that it will allow u

[2020-12-23 16:12] hishamco commented on #1014
@tanekim77 I worked for both Orchard Core & Oqtane, each one has it's own characteristics, regarding the `S` or `T` which already used in Orchard Core it had been driven from Orchard 1, I already discussed that with @sbwalker when I impemented the localization, `Localizer` is more readable

Regarding the PO nothing prevent you from doing that in case that you don't like RESX files. In case of PoEx

[2020-12-23 16:50] tanekim77 commented on #1014
@hishamco That's awesome, thanks!

[2020-12-23 16:50] #1014 closed

[2020-12-23 17:20] hishamco commented on #1014
You are welcome anytime

[2020-12-27 09:26] tanekim77 opened #1020 "svg open iconic support"
Currently, Page.cs => Icon property contains string like "oi oi-home", which is for bootstrap font icon version.`<span class="oi oi-home"></span>`. But in some pages, I need to use svg version of that icon, which need to be in a form like
`<svg viewBox="0 0 8 8"><use xlink:href="#home"></use></svg>
`
 which does not contain "oi oi-" prefix.  Wouldn't it be better if Page.Icon contains icon name on

[2020-12-27 16:13] tanekim77 opened #1022 "Question about extending User properies"
When registering, I want to include more fields, like Date of Birth. Is it possible to extends the User.cs properties without touching User.cs file?

[2020-12-27 16:24] hishamco commented on #1022
There's a profile page that you can do what you asking for

[2020-12-27 17:08] tanekim77 commented on #1022
@hishamco
Do you mean this page? Is there a way to add a Date of Birth field on it?
![image](https://user-images.githubusercontent.com/20119808/103175959-1b687400-483c-11eb-81a6-98947a65961b.png)

[2020-12-27 17:28] hishamco commented on #1022
First try to go to Profile Management

[2020-12-27 18:27] tanekim77 commented on #1022
@hishamco

Thanks! That solved 👍

[2020-12-27 18:27] #1022 closed

[2020-12-27 18:51] tanekim77 opened #1023 "About Ochard CMS"
I am trying to decide which framework to use for my next new project, between Oqtane, Orchard CMS, or Umbraco. Orchard CMS now supports Blazor Web assembly. Are there things I should consider that makes Oqtane shine over OrchardCMS/Umbraco?

[2020-12-28 00:54] #1023 closed

[2020-12-28 08:47] chlupac opened #1024 "Do not show LangSwitcher when only one language is defined"
@hishamco what do you think about it?
![image](https://user-images.githubusercontent.com/7838468/103202006-9b044a80-48f1-11eb-80bb-576c76cd5505.png)

[2020-12-28 10:30] hishamco commented on #1024
I think the switcher should appears if it's two or more, I will push a PR soon, BTW it's great to see someone using the languages switcher especially with Czech ;)

Thanks

[2020-12-28 13:35] sbwalker commented on #1020
PR #1009 removed the hard-wired dependency of Page.Icon from the Open Iconic library. It now allows you to specify the full icon class name to be used with the standard ```<i>``` tag. For example if you wanted to use Font Awesome icons rather than Open Iconic icons you could specify "fa fa-camera-retro" to get a camera icon ( you would obviously need to include the Font Awesome icon library in you

[2020-12-28 13:37] sbwalker commented on #1024
I agree @chlupac - it should not be visible if there is only a single language ( I actually thought the code had logic for this already but I guess not )

[2020-12-28 13:38] sbwalker commented on #1010
The Login page is just a standard page with a Login module on it. So like any page in Oqtane, you can edit the page settings and specify a custom theme for that page.

[2020-12-28 15:02] #1010 closed

[2020-12-28 15:03] #1020 closed

[2020-12-29 15:09] artmedia opened #1026 ""Forgot Password" or SMTP not working"
Hello,
I'm trying to recover a user password using "Forgot Password" function but it seems not working.
First of all I config SMTP for the Site.
Actual configuration:
Host: smtp.sendgrid.net
Port: blanc
SSL Enabled: "No"
The above config works on another DNN site on the same server; but I tryed also different parameters: port 25, 587 and port 465 which requires SSL Enabled: "Yes"
After every confi

[2020-12-29 15:28] hishamco commented on #1026
Could you try to reset your password in another instance that doesn't have SMTP, so we can know from where the issue comes from?

[2020-12-29 15:35] artmedia commented on #1026
I don't understand...
how can the password be reset without sending email?

[2020-12-29 15:41] hishamco commented on #1026
Oh God!! just forgot my comment ;)

We may need to invistigate on this one ...

[2020-12-29 18:49] garyld1962 commented on #227
@sbwalker  Azure pipelines are great. I have been using them for a couple of years and they beat everything else hands down. Since the pipeline YAML definition is checked into the repo, others can take advantage of it as well. In theory, If I am planning a large module, I could check in code and have the pipeline build octane in the dev environment and have it install the module(s), and run tests.

[2020-12-29 19:25] hishamco commented on #227
Azure Pipeline is another good option, hope @sbwalker consider this one

[2020-12-31 10:05] chlupac opened #1027 "Lists in administrative interface should be ordered alphabetically"
![image](https://user-images.githubusercontent.com/7838468/103405599-f33c8600-4b57-11eb-8b4d-80d71dab7a45.png)

It's difficult to find correct user here with few hundreds of users.

[2020-12-31 13:50] hishamco commented on #1027
It could be sorted in the UI that uses the lists but not in repositories or APIs because the entries should respect the creation datetime for instance the users page should display them with creation order but in roles page displaying them alphabetically make sense

[2020-12-31 16:57] sbwalker commented on #1027
Agreed @chlupac - the entries in the UI should be ordered alphabetically.

[2020-12-31 17:21] hishamco commented on #1027
As I said before I suggest to do this in dropdown lists, but not list pages because sometimes the record creation is valuable

[2021-01-01 15:14] nicpitsch opened #1029 "Oqtane Controls should consider global resources"
I'm looking for a solution with which i don't have to provide common localization strings like *Add.Text, Delete.Text, Edit.Text, Cancel* again and again for each razor component/page separated within each component's own resx file. This question is related to an external (monolitic) Module, containing a lot of components.

Using `IStringLocalizer` with *AspNetCore* components like *NavLink* works

[2021-01-01 15:37] hishamco commented on #1029
@nicpitsch some of the Oqtane controls are inherit from `LocalizableComponent` to provide a localization services for their `ResourceKey`, but nothing prevent you to inject `IStringLocalizer<OfSomethingElse>`

I hope we add some docs to make the localization process clear enough, for your case be sure that resx has a valid path otherwise it will not work

[2021-01-01 15:54] nicpitsch commented on #1029
Thanks @hishamco, but how should i compose e.g. an *ActionLink* Component?

Subsequent are not functional (related to my example above):

* `<ActionLink Action="Add" Security="SecurityAccessLevel.Admin" Text=@Localizer["Add"] ResourceKey="Edit" />`
* `<ActionLink Action="Add" Security="SecurityAccessLevel.Admin" Text=@Localizer["Add"] />`

[2021-01-01 16:22] hishamco commented on #1029
You inject the localizer in the component that using `ActionLink` or the idea using another localizer within `ActionLink`?

[2021-01-01 19:51] nicpitsch commented on #1029
@hishamco i have created a repository with a sample external Module [*Me.MyModule*](https://github.com/nicpitsch/me.mymodule).

* The master branch is using a resource file *Me.MyModule.Index.resx* explicit for the *Index.razor*.
* The [develop branch](https://github.com/nicpitsch/me.mymodule/compare/develop) instead refers a resource file *Me.MyModule.ModuleInfo.resx*. The idea behind is to place

[2021-01-02 06:40] nicpitsch opened #1030 "Installing Oqtane on IIS fail"
I followed the instructions in [Oqtane Blog](https://www.oqtane.org/Resources/Blog/PostId/542/installing-oqtane-on-iis) on how to install Oqtane on IIS step by step with Oqtane 2.0.0 (except step 4 LocalDB).

Starting the website fails with the error `An error has occurred. This application may no longer respond until reloaded. Reload.`

Browser Console content:

[code]

Operating System Event Vie

[2021-01-02 11:45] leigh-pointer commented on #1030
Is this a fresh install (no database created) ?

[2021-01-02 12:34] nicpitsch commented on #1030
Yes it's a fresh install, i just downloaded the [zip](https://github.com/oqtane/oqtane.framework/releases/download/v2.0.0/Oqtane.Framework.2.0.0.Install.zip), extracted the files and so on as instructed. @leigh-pointer were you able to setup an installation according to the instructions from the blog?

[2021-01-02 18:47] leigh-pointer commented on #1030
I have just followed the blog post with no joy!

When following it seemed different to have i set it up a few months ago!

Im going to look into this further.

[2021-01-02 19:06] #1024 closed

[2021-01-02 19:12] sbwalker commented on #1027
@hishamco I agree that it would be easiest to order the list in the component where the data will be displayed.

[2021-01-02 19:14] sbwalker commented on #1026
@artmedia did you enable the Notifications Job in Scheduled Jobs? By default on a new installation the Notifications Job is disabled so that it does not consume system resources unnecessarily.

[2021-01-02 19:17] hishamco commented on #1027
I can submit a PR if @chlupac not started yet ;)

[2021-01-02 19:25] sbwalker commented on #1030
@nicpitsch these instructions did work for Oqtane 1.x on .NET Core 3.1 - perhaps something changed with .NET 5. On Step 3 did you install ASP.NET Core 5.0 Runtime (v5.0.1) - Windows Hosting Bundle Installer?

[2021-01-02 20:30] nicpitsch commented on #1030
@sbwalker yes according to [Microsoft Docs - Install the ASP.NET Core Module/Hosting Bundle](https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/iis/?view=aspnetcore-5.0#install-the-aspnet-core-modulehosting-bundle).

[2021-01-02 20:47] chlupac commented on #1027
@hishamco great, submit it.

[2021-01-03 11:12] hishamco commented on #1029
@nicpitsch I just saw you code the line https://github.com/nicpitsch/me.mymodule/blob/develop/Client/Index.razor#L9 will not work because `ModuleInfo` is not in `Me.MyModule` namespace, could you try to name the RESX file according to the class namespace

[2021-01-03 13:16] nicpitsch commented on #1029
Thanks @hishamco. But according to Oqtane we have to add `[Owner].[Module]` prefix to resx, where Me=Owner and Module=MyModule in *Me.MyModule.ModuleInfo.resx*. I have made clearer from where the resource strings are comming in the latest commit [ea14764](https://github.com/nicpitsch/me.mymodule/pull/1/commits/ea1476411a5c0be952c377ec847be9ce4a50000b) :

![2021-01-03_13-32-24](https://user-images.

[2021-01-03 13:20] hishamco commented on #1029
This should valid for the module resources

[2021-01-03 13:30] hishamco commented on #1029
One more thing regarding your issue's title, this may need a customization for your case, what you can do in your case change the `LocalizableComponent` so it could use a specific or global resource

I don't think we need to do this out of the box, because everything is stable from localization point of you especially for Oqtane admin, or we may add this as future enhancement

Hope that's answer y

[2021-01-03 14:04] nicpitsch commented on #1029
Finally I understand how it is meant, thanks a lot @hishamco!

In case any one out there is looking for how to retrieve common localization strings also for Oqtane Controls like *\<ActionLink*>* ([green=solution](https://github.com/nicpitsch/me.mymodule/compare/develop#diff-3122cd483e82fe28ddfd9759c8de0cd6e46a80b5b0bc15be705d7dfb53b24f96)). *ModuleInfo* is a class and the resx file containing loca

[2021-01-03 14:04] #1029 closed

[2021-01-03 14:08] artmedia commented on #1026
After enabling Notification Job I tryed again (click on the "Forgot Password").
Now Notification Job says Status Failed: "The specified string is not in the form required for an e-mail address".
The email address of the User is correct, I don't know what this message is referring to.

[2021-01-03 14:12] hishamco commented on #1029
Happy to hear that's work!! but what you did is like of cheeting ;) because you supply a localized text to the component and ignore `ResourceKey` a proper solution would be to introduce a global resource that could be used in the `LocalizableComponent` if @sbwalker agreed this will allow deveopers to specify a global resource type to be used to localize the components

[2021-01-04 10:04] artmedia opened #1036 "Error editing Module in Module management"
Hello,
in Admin Dashboard, Module management, any Edit button I click, I get this: "Error: System.InvalidOperationException: Object of type 'Oqtane.Modules.Controls.Label' does not have a property matching the name 'resource'"
I'm using version 2.0.0

![image](https://user-images.githubusercontent.com/4210561/103523283-ed0e1880-4e7b-11eb-919b-89e7047d7167.png)

[2021-01-04 10:58] hishamco commented on #1036
I will check this one ...

[2021-01-04 13:09] leigh-pointer commented on #1030
Ok the solution is simple. Change your tld to .local and the setup page loads.  I am guessing some kind of check is going on in the browser or IIS and with .dev being available producing and issue. https://icannwiki.org/.dev

Suggest updating the blog post

- specify a Host name ( ie. "oqtane.dev" ) - this host name needs to be mapped to the machine and the easiest method is to follow the instruct

[2021-01-04 14:51] sbwalker commented on #1030
@leigh-pointer if you read @nicpitsch's description you will notice that he was not using "oqtane.dev" - he was using "oqtane.me". Also based on the error screen shot it appears that the request was being routed to the local IIS site - but was throwing a circuit error. So although your solution may be relevant, it does not seem to be related to the problem reported. I guess the good news is that y

[2021-01-04 14:55] nicpitsch commented on #1030
Thanks @leigh-pointer. I have changed the toplevel-domain to .local on my local Windows 10 machine. Still the same error.

I tried now to install on my Windows 2016 server on a domain which has a Let's Encrypt https certificate. The 2 Error parts of the message is the same (domain name obfuscated):

[code]

As a conclusion i would guess my issues are not related to unsecure https connection.

[2021-01-04 16:07] leigh-pointer commented on #1030
@sbwalker yes Oqtane is running locally.
I followed all steps although i didnt install localDB as im using SqlExpress.

[2021-01-04 19:37] sbwalker commented on #1030
@nicpitsch this definitely seems to be related to your environment. Can you enable detailed errors in the Oqtane.Server/appsettings.json:

[code]

[2021-01-04 20:07] nicpitsch commented on #1030
@sbwalker i have done it. The Errors now (Windows Server, domain obfuscated):

[code]

[2021-01-04 20:33] sbwalker commented on #1030
It appears to be throwing an "Object reference not set to an instance of an object" error in Startup on this line:

                    var authToken = httpContextAccessor.HttpContext.Request.Cookies[".AspNetCore.Identity.Application"];

But is is impossible to know if the httpContextAccessor is null  or one of the dependent objects... but either way, the question is why is it throwing an error in

[2021-01-04 21:01] nicpitsch commented on #1030
@sbwalker as it seems i have found the cause for this issue. After adding *WebSocket* option to IIS Web Server installation the Oqtane installation finally is starting. The Microsoft docs [here](https://docs.microsoft.com/en-us/aspnet/core/blazor/host-and-deploy/server?view=aspnetcore-5.0#signalr-configuration) and the issue [here](https://www.syncfusion.com/forums/150414/runtime-error-when-deploy

[2021-01-04 21:12] sbwalker commented on #1030
I am glad you were able to resolve the problem. Note that Step 1 of the [blog](https://www.oqtane.org/Resources/Blog/PostId/542/installing-oqtane-on-iis) contains this line:

- Within Application Development Features make sure that WebSocket Protocol is enabled ( this is needed for SignalR )

In order to improve the blog for future users, is there a reason you decided to skip this item? Was it bec

[2021-01-04 21:35] nicpitsch commented on #1030
Ooh, i feel bad. The first sentence makes it clear that each step is important: *Note: even if you have IIS already installed you will want to ensure the appropriate options are enabled/disabled*. How could i overview that?

Sorry @sbwalker and @leigh-pointer to waste your time!

[2021-01-04 21:35] #1030 closed

[2021-01-04 22:02] sbwalker commented on #1030
@nicpitsch no worries... it was actually not a waste of time as it forced me to review some logic I had not inspected in quite some time and I now have a few action items for myself that I want to research further.

[2021-01-04 22:38] hishamco commented on #1036
I can reproduce the issue, working on it ..

[2021-01-05 14:00] #1027 closed

[2021-01-05 14:00] #1036 closed

[2021-01-05 14:13] sbwalker commented on #1026
@artmedia I believe the problem you are experiencing is because you did not provide a value for the SMTP Username field in the Site Settings UI. If we review the logic in the NotificationJob we see:

[code]

So you can see that it utilizes the SMTP Username as the Sender of the email. If you did not specify an SMTP Username then I suspect it could result in "The specified string is not in the form

[2021-01-05 14:51] sbwalker commented on #989
@hishamco in order to complete the implementation of Static Localization do you plan on implementing the options described above:

1. There should be an option in the Admin Dashboard for Language Management which would allow the Site Administrator to enable languages for the current site and specify which language is the default, The default language would be used for anonymous users.

2. An authe

[2021-01-05 15:02] hishamco commented on #989
This mean we are moving from `appsettings.json` to database

Nope, but we should :

- Call the database before the localization middleware take place

- Changing the default language from the admin will not take place until the app is restarted  - this is a limitation of ASP.NET Core Localization -

[2021-01-05 15:05] hishamco commented on #989
You can assign this issue to me, I hope to start with soon

[2021-01-05 21:58] sbwalker commented on #1026
@artmedia I added some better validation/feedback in PR #1040

[2021-01-06 14:38] Raceeend opened #1042 "SMTP EnableSSL change in select/option field"
In Site settings (admin/site) the option SSL Enabled is a textfield, can this made in a select field like this?:
(line 147 in Oqtane.Client/Modules/Admin/Site/index.razor )
`<tr>
                <td>
                    <Label For="enabledSSl" HelpText="Specifiy if SSL is enabled for your server">SSL Enabled: </Label>
                </td>
                <td>
                    <select id="enabl

[2021-01-06 14:46] Raceeend opened #1043 "NotificationJob in Error when SMTP username is NOT a email address"
In the notification job for sending emails the From is constructed from SMTPUsername. This will not work when the username is not a email or (with testing/developement) there's is no username to be used.

Solution is maybe a Site Emailaddress with is used a From address.
(index.razor of site admin -> extra field Site Email

For example:
in index.razor
`<tr>
                <td>

[2021-01-06 14:55] artmedia commented on #1026
I agree with #1043
In my case SMTP username is not an email address

[2021-01-06 15:53] Raceeend commented on #1026
In UserController.cs (server site) on line 386 is the link to the user-email missing
notification.ToEmail = "";  should be     notification.ToEmail = user.EMail;

(and please add this line also:   notification.ToDisplayName = user.DisplayName;)

[2021-01-06 16:23] sbwalker commented on #1042
this was already done in #1040

[2021-01-06 16:23] #1042 closed

[2021-01-06 16:40] sbwalker commented on #1026
UserController is not a problem - it is by design. You should only provide a ToEmail if a ToUserId is not provided. If you provide a ToUserId the ToEmail is populated from the User table.

[2021-01-07 14:12] sbwalker commented on #1043
Yes I think this change makes sense. SMTP services like Gmail or Hotmail use an email address as a username but services like SendGrid have config details:

Server: smtp.sendgrid.net
Port: 25 or 587 (non-SSL) or 465 (SSL)
Username: apikey
Password: {hash key}

So you would need a Sender Email option. Obviously you would also need to conform to whatever rules the email service requires for sender a

[2021-01-07 20:06] sbwalker commented on #1043
Implemented in #1044

[2021-01-07 20:06] #1043 closed

[2021-01-07 20:07] sbwalker commented on #1026
See #1044

[2021-01-07 20:07] #1026 closed

[2021-01-18 11:25] Raceeend opened #1060 "Forgot Password don't send a email"
Forgot Password or sending a notification to another user.
This has already been reported (and closed) but I am not getting it working.

When I look in the code I see that a notification has no ToEmail when the Job is executed and therefore no message can be sent (a mailadress need a valid email address).

However, the ToUserId is available.
It goes wrong on ines 86-90 in NotificationJob.cs:
if (n

[2021-01-18 13:36] sbwalker commented on #1060
The code you posted above looks different than the code in the NotificationJob:

[code]

If ToUserId has been specified for a Notification then the system retrieves the ToEmail and ToDisplayName from the User table. If ToUserId has not been specified for a Notification then the system expects that the ToEmail has been explicitly provided.

[2021-01-18 13:38] sbwalker commented on #1060
Are you using the latest code in the dev branch? I am asking because there was an issue related to the Sender which was fixed recently in #1044

[2021-01-18 16:32] artmedia commented on #1060
Me too I'm trying to send password, without success.
After downloading the latest code in the dev branch (added Email Sender in SMTP config),
I click on "Forgot Password" and then in Notification Job I see this message:
"The parameter 'address' cannot be an empty string. (Parameter 'address')"

I don't understand which 'address' is.
In Profile Management I removed all field but FirstName and LastN

[2021-01-18 17:56] sbwalker commented on #1060
My apologies.... after further research I was able to determine that the original API was modified to prevent the leakage of user information which caused an impact to the sending of notifications. The original API included joins from the Notification table to the User table - which is how the FromEmail and ToEmail properties were populated. These joins were removed in PR #581. Thank you for repor

[2021-01-18 19:46] sbwalker commented on #1060
This should be fixed in #1065. The Notification API now relies on the ToEmail/ToDisplayName properties rather than ToUserId ( although if you only specify ToUserId and do not provide ToEmail/ToDisplayName it will retrieve them in the NotificationJob ). I also added some additional constructors to the Notification class to simplify the creation of objects and abstract the more internal properties.

[2021-01-18 19:46] #1060 closed

[2021-01-18 22:09] hishamco commented on #989
Thinking back about profile language, the issue that is raise in my mind is even I choose another cookie to track the profile language, `UICulture` need to be set so the localization resources can aware about the selected culture. In this case changing the profile culture will affect the website culture

@sbwalker how you handled this in DNN before?

[2021-01-19 17:19] sbwalker commented on #989
@hishamco DNN is a traditional WebForms application... so every interaction is based on a request to an ASPX page which is then processed by the ASP.NET pipeline. It uses an HTTP Module to set the culture for the current thread:

https://github.com/dnnsoftware/Dnn.Platform/blob/develop/DNN%20Platform/HttpModules/Localization/LocalizationModule.cs
[code]
The Localization class handles the fallback

[2021-01-19 19:07] hishamco commented on #989
Ya it's a WebForms, I knew DNN from version 3 if I'm not wrong, if we looked to the line https://github.com/dnnsoftware/Dnn.Platform/blob/develop/DNN%20Platform/HttpModules/Localization/LocalizationModule.cs#L53 it set the current cultures, this will affect both front-end and back-end cultures if I'm not wrong

[2021-01-20 03:35] sbwalker commented on #1060
@artmedia @Raceeend please let me know if the latest changes resolve your problem

[2021-01-20 10:46] artmedia commented on #1060
I confirm that now email to User Password Reset is sent succesfully.
Thanks

[2021-01-22 11:17] jpiquot opened #1068 "Dapr support"
Hi,

I would like to add [Dapr](https://dapr.io/) to Oqtane to be able to have a distributed architecture.

Do you think that this is a feature that could be integrated into the Oqtane project?

The first step would be to add a Dapr Repository for the Oqtane Storage

Dapr is a Microsoft framework for building distributed applications and microservices.

[2021-01-29 19:12] kevin-weir opened #1086 "Client Validation using DataAnnotations"
I was curious if DataAnnotations would be leveraged to support client side validation since you already have access to the model on the client.
The only validation logic I noticed was running custom logic or have I missed anything?  Is FleuntValidation another option that would be considered??

I noticed your're not using EditForm but I'm sure there is a good reason for that:
https://docs.microsof

[2021-01-30 21:09] sbwalker commented on #1086
You could absolutely choose to use data annotations and EditForm in your custom modules that you create for Oqtane - there is nothing restricting you from developing your UI or validation logic based on your personal preference.

[2021-01-31 11:17] Raceeend commented on #1060
Sorry for mine late respons. But yes its working fine. The problem is solved. Thanks!

[2021-02-01 12:09] kevin-weir commented on #1086
Thanks for response

[2021-02-01 12:09] #1086 closed

[2021-02-02 15:11] PhilipMur opened #1087 "Deleting Module Issue"
My steps to recreate the issue.

issue experienced
The server hangs and visual studio hangs crashes and reports an issue to microsoft.

I can see in the logs that its trying to delete it from another instance of SQL server (USERNULL) i have running but when i install the Oqtane server i chose the localDB and also i verified it in the appsettings.json file

Also i can browse the localDB that Oqtane

[2021-02-02 15:13] PhilipMur commented on #1087
Sorry forgot to attached the logs screenshot from Octane
here it is.
![Screenshot (1532)](https://user-images.githubusercontent.com/27295232/106620207-3e87f100-6569-11eb-8e6f-6452018b6091.png)

[2021-02-02 16:01] PhilipMur commented on #1087
Just to add to the weird issue when i browse the data in the dbo.ModuleDefinition i can see the newly created Modules and created a new user and that gets added OK to the local.db.

[2021-02-02 16:32] leigh-pointer commented on #1087
Can you check the entry in the Tenant table.  The connection string need to be the same as what is in your config file.

[2021-02-02 16:39] PhilipMur commented on #1087
They are the same

This is from the appsettings.json file.

Data Source=(LocalDb)\\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\\Oqtane-202101291423.mdf;Initial Catalog=Oqtane-202101291423;Integrated Security=SSPI;

This is from the dbo.Tenant

Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Oqtane-202101291423.mdf;Initial Catalog=Oqtane-202101291423;Integrated Security=SSPI;

[2021-02-02 16:58] PhilipMur commented on #1087
Modules still showing up after just trying to delete them.

Can someone else try to replicate before i have no hair left 😓 , Thanks

In case the issue is only isolated to me.

![Screenshot (1537)](https://user-images.githubusercontent.com/27295232/106634291-8f9ee180-6577-11eb-936b-4cfe40956258.png)

[2021-02-02 17:44] leigh-pointer commented on #1087
If you have used the module creator to create your module Im sure the framework will not delete it and every time the framework is run the module will be picked up and installed.

[2021-02-02 17:51] PhilipMur commented on #1087
Why does it cause a hang and throw an error?

What's its purpose if it cannot delete?

[2021-02-02 20:50] sbwalker commented on #1087
This issue is not isolated to you... but its quite a bit more complicated than it appears on the surface...

Based on the screen shots and behavior reported, I am going to assume you are using the official 2.0.0 release version and not the latest version in the dev branch.

When you delete a module there are number of tasks which need to be executed in order to fully remove it from the system:

1.

[2021-02-02 21:59] PhilipMur commented on #1087
Hello Shaun,

Yes i am using the official 2.0.0 release version.

I have tried it in release mode and all works as expected.

In debug mode i found all the .dll files i from the no longer used modules and remove them manually and this works as expected also.

Just on item number 4.
Will this prompt be also put in place when creating a module and importing/ installing a module as it has the same ef

[2021-02-02 22:05] sbwalker commented on #1087
Yes, all areas which were triggering an abrupt restart have been replaced with a friendly user experience. Thank you for raising the module deletion issue - it definitely could use some improvement to make it more intuitive.

[2021-02-02 22:07] #1087 closed

[2021-02-04 13:58] sbwalker commented on #1087
@PhilipMur see PR #1088 - I was able to significantly improve the module/theme deletion user experience. They no longer require an application restart. In addition, the system will attempt to remove module assets even if an assets.json file does not exist.

[2021-02-04 14:26] sbwalker commented on #1068
this is not on the current roadmap

[2021-02-07 13:06] PhilipMur commented on #1087
Very nice addition.

[2021-02-08 13:21] sbwalker commented on #989
I believe all of the Localization scenarios above are addressed now. The only thing remaining is populating the localization repo with a full set of RESX files so that people can see what is expected to localize Oqtane.

[2021-02-08 13:21] #989 closed

[2021-02-08 13:21] #1068 closed

[2021-02-08 13:22] sbwalker commented on #1013
Yes it is possible to deploy Oqtane to Docker. Currently Oqtan relies on SQL Server as its database so you would need to configure that appropriately.

[2021-02-08 13:22] #1013 closed

[2021-02-08 13:24] #973 closed

[2021-02-08 13:24] #966 closed

[2021-02-08 13:25] #965 closed

[2021-02-08 13:25] #944 closed

[2021-02-08 13:25] #943 closed

[2021-02-08 13:25] #942 closed

[2021-02-08 13:26] #902 closed

[2021-02-08 13:26] #814 closed

[2021-02-08 13:26] #810 closed

[2021-02-08 13:27] #774 closed

[2021-02-08 13:27] #773 closed

[2021-02-08 13:29] sbwalker commented on #561
implemented as part of #1088

[2021-02-08 13:29] #561 closed

[2021-02-08 13:29] #536 closed

[2021-02-08 20:06] hishamco commented on #773
I think we should leave this open, coz there's a limitation

[2021-02-08 20:27] hishamco commented on #989
That's what expected to be done in upcoming days ...

[2021-02-09 17:20] PhilipMur opened #1097 "PWA question"
Hello,

Not sure where else I can find an answer to my question so I apologise if there is a forum somewhere else that I should post this question.

Just a question on adding to the Web app PWA functionality.

I can see in the >>admin dashboard >>site settings that there is a section "Progressive Web Application Settings".

If I set it up to be a PWA here are the files
manifest.json
service-worker

[2021-02-09 20:36] sbwalker commented on #1097
If you enable a site to be available as a PWA and you provide an App and Splash icon, Oqtane will dynamically generate the manifest and automatically include the service worker.

[2021-02-10 15:26] PhilipMur commented on #1097
Hello Shaun,

I have tried this in Debug mode, Release mode with no joy.

The files needed are not being automatically created.

I have uploaded an app icon 192x192.png and a splash icon 512x512.png and I have tried chrome, Edge, Firefox but still I don't get the little plus icon to install nor do I see the PWA files being created.

I'm using framework version 2.0.0 with Visual studio 2019

[2021-02-10 15:34] PhilipMur commented on #1097
Here are the commercial free pictures used.
![pie-icon-512](https://user-images.githubusercontent.com/27295232/107531946-44a74e80-6bb5-11eb-9776-b0dd86520209.png)
![sphere-192](https://user-images.githubusercontent.com/27295232/107531998-51c43d80-6bb5-11eb-93a4-1aec3039f036.png)

here is the on saved log.
[PWA Log on save.txt](https://github.com/oqtane/oqtane.framework/files/5959172/PWA.Log.on.sav

[2021-02-10 17:04] PhilipMur commented on #1097
Also I have the app settings.json file "Runtime" : "WebAssembly"

Also the management panel will not display when the Runtime is set to WebAssembly as I was going to take a screenshot of the system info.

I have also tried in Debug and Release and published and different browsers and clear the cache etc.

[2021-02-10 18:36] sbwalker commented on #1097
So I did some testing and there does seem to be an issue. The script and manifest are all being created and linked properly, however some of the Urls in the manifest appear to be relative when they need to be absolute. I am still exploring further to try and identify the PR that caused this issue.

The dynamic injection of the script and manifest makes it a bit tricky to understand - you need to u

[2021-02-10 19:49] #1097 closed

[2021-02-10 19:50] sbwalker commented on #1097
Thank you for reporting this - it is fixed in #1098

![image](https://user-images.githubusercontent.com/4840590/107563579-40783280-6baf-11eb-8b76-2f6ba3f6ba53.png)

[2021-02-10 20:30] PhilipMur commented on #1097
Wow you don't waste anytime.

No problem, glad I can help in some way.
Web development is not my strong point at the moment but this framework definitely speeds up the learning curve.

[2021-02-10 23:34] icevld commented on #1013
Thanks for the answer.

[2021-02-11 05:59] tvatavuk opened #1099 "Expand oqtane extensions management to support extensions without UI"
Oqtane has very flexible way to install 3rd party oqtane modules (or themes) in run-time.

Using oqtane Module Creator we created external oqtane module https://github.com/2sic/oqtane-imageflow/ so we can deploy it as [ToSic.Imageflow.Oqtane](https://www.nuget.org/packages/ToSic.Imageflow.Oqtane) nuget package and install in run-time [Imageflow.NET](https://github.com/imazen/imageflow-dotnet-serve

[2021-02-11 07:29] tvatavuk opened #1100 "The "ResolveAssemblyReference" task failed unexpectedly when adding oqtane module nupkg as static dependency to other project"
Oqtane has flexible way to install custom oqtane modules in run-time using special implementation of nuget packages https://github.com/oqtane/oqtane.framework/issues/532.

I need other way around. I have 2 oqtane modules. The first one was packaged as nuget package. During development of the second one, when I add first oqtane module nuget package as common static dependency for Package project  (

[2021-02-11 15:17] PhilipMur commented on #1100
I thought there was supposed to be no punctuation on the naming of a module.

Example ToSic.Module >> tosic.module

That could be your issue?

[2021-02-11 16:12] hishamco commented on #1099
Make sense, not all the module should have UI, @sbwalker if we could add an option to include CRUD UI operation or not

[2021-02-11 16:12] hishamco commented on #1099
Make sense, not all the module should have UI, @sbwalker if we could add an option to include CRUD UI operation or not

[2021-02-11 16:13] hishamco commented on #1099
Make sense, not all the module should have UI, @sbwalker if we could add an option to include CRUD UI operation or not

[2021-02-11 17:09] PhilipMur opened #1103 "Web Assembly Issue"
Hello,

If i have the runtime set to "Runtime": "Server" in the appsettings.json file and in the admin control panel, change the site settings to Progressive Web Application Settings and set to Enabled,
I now can install the application via the web browser for the server technology but i can also do this for "Runtime": "WebAssembly"

I thought that web assembly was the model used for progressive w

[2021-02-11 21:39] PhilipMur commented on #1100
@tvatavuk take a look at this post with relation to copy local flag, it might help you.
https://github.com/dotnet/msbuild/issues/4072

[2021-02-12 11:04] TobiasFandrich opened #1104 "Can't deploy on azure because of swagger issues"
Hello,

I tried deploying the project in its basic form to Azure both from Visual Studio and by the deploy button on the repo.

By using the deploy button I always run into an error with the password policy.

By using visual studio I run into an issue with swagger. This is the error log:

`Starting to update your API
Generating swagger file to 'C:\Users\tobia\source\repos\oqtane.framework\Oqtane.S

[2021-02-12 13:57] TobiasFandrich commented on #1104
I was finally able to get it running using the Azure Deploy Button. I could help you guys out by writing a little tutorial for that as there is nothing mentioned of disabling the database security etc. which won't work on Azure.

For manual deployment using Visual Studio I had no luck. I kicked the Swagger issue with running it locally and then deploying it to Azure. But on Azure the WebApp just w

[2021-02-12 13:57] #1104 closed

[2021-02-12 16:09] sbwalker commented on #1103
Just to clarify, WebAssembly and Progressive Web Applications (PWA) have nothing to do with one another - they are completely different technology concepts.

WebAssembly is a new type of code that can be run in modern web browsers — it is a low-level assembly-like language with a compact binary format that runs with near-native performance. Blazor WebAssembly allows you to write full-stack web app

[2021-02-12 16:48] PhilipMur commented on #1103
Thanks for clearing up the Web Assembly question and you are right about where i got mixed up over the Visual Studio Web Assembly Template.

I can reproduce the same issue when the runtime is set to Web Assembly and i have PWA enabled in Oqtane on the following browsers.

Microsoft Edge Version 88.0.705.63 (Official build) (64-bit)
Google Chrome Version 88.0.4324.150 (Official Build) (64-bit)
Fire

[2021-02-12 17:18] PhilipMur commented on #1103
I found what is causing the issue, its missing a class "app-controlpanel"

see my screenshot one where its missing and its visible or the other screenshot where i duplicated the tab.

![Screenshot (1557)](https://user-images.githubusercontent.com/27295232/107800062-380e2c00-6d56-11eb-8b61-f4510587e484.png)

![Screenshot (1556)](https://user-images.githubusercontent.com/27295232/107800084-3f353a00-

[2021-02-12 18:07] sbwalker commented on #1103
I am using Firefox Developer Edition and I cannot reproduce the problem locally. That being said, I would tend to believe the reason the app-controlpanel class is not being injected is related to the red error message in your web console. The error message says that the call to retrieve the languages for the site is unauthorized ( error 401 ).

[2021-02-12 18:12] sbwalker commented on #1103
Investigating further, I see the following declaration for the LanguageController GET methods:

        [HttpGet]
        [Authorize(Roles = RoleNames.Registered)]
        public IEnumerable<Language> Get(string siteid) => _languages.GetLanguages(int.Parse(siteid));

        [HttpGet("{id}")]
        [Authorize(Roles = RoleNames.Registered)]
        public Language Get(int id) => _languages.GetLan

[2021-02-12 18:24] sbwalker commented on #1100
Issue #1099 and #1100 both seem to be related to a specific development approach which I am not understanding. The main question I have is why you would want to create an external Oqtane module to simply wrap the ImageFlow server-side class library, and then try to reference that module from another module? Why not include ImageFlow directly in your consuming module? For example the DNF.Projects e

[2021-02-12 19:23] PhilipMur commented on #1103
A picture tells a thousand words 😂 @sbwalker
I'm glad i attached them now.

I will remove the authorize from the language controller in a bit and I will report back.

[2021-02-12 19:39] PhilipMur commented on #1103
I commented out the Authorization attributes and this gets rid of the red 401 for the localisation support but my problem still exists for the non loading of that class to maximise the app-control panel.

That class doesn't exist for me untill I reload.

[2021-02-12 20:01] PhilipMur commented on #1103
Hello Shaun,

I solved the issue by changing the following in the code.

Oqtane.Client >> Modules >> Admin >>Login >> Index.razor

Go to line 128 and change
( NavigationManager.NavigateTo(NavigateUrl(_returnUrl, "reload")); )
to
( NavigationManager.NavigateTo(NavigateUrl(_returnUrl, "reload"), true); )

Forcing the reload does the job for me, an easy fix for once.

[2021-02-12 21:14] sbwalker commented on #1103
I do not feel comfortable making the above code change unless I am able to reliably reproduce the problem you reported. I am trying to understand the differences between my environment and yours. Perhaps the difference is the way you are starting up the application? I am running the application from within Visual Studio - running it on IIS Express. How are you starting up the application?

[2021-02-12 22:17] leigh-pointer commented on #1103
@PhilipMur try rather than commenting out the the Authorization attributes change the RoleNames.Registered to RoleNames.Everyone

[2021-02-12 22:34] leigh-pointer opened #1106 "The Section Component always loads expanded."
When using the Section component, setting the expanded property to true it will not initialize the component expanded.  The expand and collapse work only after it is fully initialize.

\Oqtane.Client\Modules\Controls\Section.razor

[2021-02-13 01:31] PhilipMur commented on #1103
@sbwalker iam using Visual studio 2019 Community edition and launching it within Visual Studio using IIS and the startup browser is chrome but I test on a few browsers.
The only way I can prove it's happening at this stage is to record my screen and upload the video which I'm happy to do.

I will try a published version tomorrow in an iis instance to see if the problem travels with the it or is it

[2021-02-13 01:57] sbwalker commented on #1103
I believe it is happening based on your screen shots... I just cannot reproduce it myself. The problem seems to be related to the auth cookie not being set properly after login when running on WebAssembly. The framework does contain logic to set the auth cookie on the client. The reason why a browser refresh seems to resolve the problem is because it forces a full application restart on the client

[2021-02-13 03:02] PhilipMur commented on #1103
Are you using https or http to test?

I'm using http, as i never got around to install a test ssl certificate yet.

[2021-02-13 06:43] kevin-weir opened #1108 "Octane.Server.csproj using C# language version 7.3"
Was there a reason for the Octane server project to be constrained by using version 7.3 of C#.  I discovered this when trying to take advantage of the asynchronous programming model.

[code]
I noticed the Task await async language features were not being implemented throughout the stack.  If used, it would certainly increase the overall robustness and responsiveness of the code base.

[2021-02-13 07:04] leigh-pointer commented on #1103
@PhilipMur I cant reproduce the issue here.  I have just merged all the latest updates to my fork and still I have no issues.

[2021-02-13 08:52] PhilipMur commented on #1103
I'm slowly going insane.
All the browsers I have can't all have the same issue with Web assembly loading after login.

I'm going to take another look to see what's happening.

[2021-02-13 09:30] PhilipMur commented on #1103
Here is an mp4 that i just recorded.

[2021-02-13 09-20-59.zip](https://github.com/oqtane/oqtane.framework/files/5975398/2021-02-13.09-20-59.zip)

[2021-02-13 10:41] PhilipMur commented on #1103
OK can anyone reproduce this @sbwalker @leigh-pointer
I think its part of the same issue where a force reload might be needed or an async event is not been awaited before the site Navigator is been called to reload but something is not been done before the reload is called, for me anyway.

1. Run the application
2. Login
3. Go to the admin control panel and select anyone of the admin controls
4. L

[2021-02-13 10:53] leigh-pointer commented on #1103
@PhilipMur  I have reproduce the error! nothing more but thought for your sanity it might be a nice to know.

[2021-02-13 10:56] PhilipMur commented on #1103
I wonder if what i have encountered is a race condition for the login event?

Maybe you guys have better performing PCs than me or visa versa?

[2021-02-13 22:31] kevin-weir commented on #227
I would go with Azure Pipelines as well.  It provides the best support for Microsoft tools and ecosystem and of course has nice integration with github.  Seems like a no brainer to me.

[2021-02-14 12:50] PhilipMur commented on #1103
Ok so i grabbed my laptop and done a fresh install of Visual studio 2019 community edition and download the repo from github as a zip file and ran the project and i can 100% reproduce the issues, all of them.

**Steps to reproduce.**

1. Install Visual studio 2019 Community
2. Download the Oqtane repo from github as a zip file
3. unzip the project
3. Open the project in Visual studio 2019
4. Rebui

[2021-02-14 13:24] hishamco commented on #227
@kevin-weir I already pointed o that in https://github.com/oqtane/oqtane.framework/issues/227#issuecomment-621764822

[2021-02-14 19:45] sbwalker commented on #1108
#834 was intended to remove the language version constraint, however it appears that is was not removed from the Server project - @hishamco do you recall why you did not modify the Server project?

[2021-02-14 19:55] sbwalker commented on #1103
I assume when say that you downloaded the code from Guthub, you are referring to the 'dev' branch and not the 'master' branch? The 'dev' branch will have the problem described earlier in this thread where the call to get the Languages will fail for unauthenticated users with a 401 error. This has not been fixed in the repo yet and could cause unexpected issues. Either way, I thin you are correct t

[2021-02-14 20:03] sbwalker commented on #1106
fixed in #1107

[2021-02-14 20:03] #1106 closed

[2021-02-14 20:38] PhilipMur commented on #1103
I wish its was that simple, but i just applied a task.delay to NotifyAuthenticationChanged then another delay then called NotifyAuthenticationChanged once again but it doesn't change my situation.

I already applied the fix for the language get request 401 issue.

![Screenshot (6)](https://user-images.githubusercontent.com/27295232/107888497-76e1e480-6f04-11eb-919f-cb7d40d670f7.png)

[2021-02-14 20:42] hishamco commented on #1108
Let me check @sbwalker seems there's a reason or  I forgot it accidently , I will test this and come back to comment here ...

[2021-02-14 21:05] PhilipMur commented on #1103
OK i have found another issue.

**Steps to reproduce**

1. Login as host
2. Select the private / secure content in the navbar
3. wait until the secure content is displayed
4. Logout
5. The admin controls and authorized only content buttons are still displayed in the navbar.

Im convinced the issue lies in how the content is added and removed from the navbar and all the issues are linked to this.

[2021-02-14 23:36] sbwalker commented on #1103
#1110 resolves the issue with unauthenticated users being able to retrieve the list of languages. I am not able to reproduce the issue you described above where the secure content is displayed after I logout.

[2021-02-14 23:45] PhilipMur commented on #1103
It seems I'm all alone on this issue.
I will just force a refresh on my end untill I know how to fix it, I know this will affect performance.

I can give access to my laptop as its new and I don't have anything on it if you want to see the issue yourself or you can close the issue as it seems its only happening for me.

I can understand that it's impossible to fix a problem you cannot see yourself

[2021-02-14 23:51] sbwalker commented on #1103
I would like to track this down as @leigh-pointer mentioned above that he was able to reproduce it as well.

[2021-02-14 23:52] sbwalker commented on #1103
Can you open your browser tools and look in the web console for messages, and look in the network traffic for any requests which are resulting in errors.

[2021-02-15 06:10] tvatavuk commented on #1100
The goal was to have a family of child oqtane modules, where each is developed separately and can be deployed and installed as standalone. Example is Imageflow oqtane module.
Than we have a parent module that depends on a child module (for now, only in runtime). The parent nupkg should  somehow contain child oqtane modules, so that all can be deployed and installed at ounce. Example is 2sxc oqtane

[2021-02-15 10:14] PhilipMur commented on #1103
Console window open beside the server.

https://user-images.githubusercontent.com/27295232/107933364-8ef24c00-6f76-11eb-9f4a-e899d26c1d58.mp4

[2021-02-15 13:18] PhilipMur commented on #1103
Here is the Network traffic.

https://user-images.githubusercontent.com/27295232/107951431-3cbe2480-6f90-11eb-9614-62ffa186b5bb.mp4

[2021-02-15 15:03] sbwalker commented on #1103
Good news! I was finally able to reproduce the problem... and I have a solution. So here is the explanation...

After watching your videos I noticed that when you started up Oqtane you were always unauthenticated initially... but in my local environment, I was usually still authenticated because I had not logged out at the end of my previous session. Once I started up the framework in an unauthent

[2021-02-15 15:32] PhilipMur commented on #1103
Yes I am genuinely happy that you found this issue but its too late i already pulled out all my hair ha ha ha, only joking.

This is great news, hopefully i get an honorable mention and thanks very much for the explanation it helps a lot, i still got my training wheels on for Blazor and Oqtane so any knowledge like this is great.

Well i think its time for a coffee with a we drop of whiskey for ce

[2021-02-15 15:37] #1103 closed

[2021-02-15 15:37] #1108 closed

[2021-02-15 15:47] PhilipMur commented on #1103
Tested and is working as expected Now. Thanks

[2021-02-15 16:21] sbwalker commented on #1100
Thank you for your explanation. In general I think modularity is a good thing... however you always need to keep in mind that if you physically decompose things to too granular of a level, it can make recomposition more challenging. And determining that tipping point is more of an art than a science - it really depends on the business requirements.

[2021-02-15 17:33] kevin-weir opened #1113 "Performance optimization"
Would there by any interest in me volunteering to **add asynchronous programming logic (Task, await, async)** to the code base and provide other optimizations for EF Core such as:

- AsNoTracking (queries) - perform queries without the overhead of change tracking
- SaveChangesAsync - save changes to the dbcontext asynchronously
- AddDbContextPool - enables a pool of reusable context instances
- To

[2021-02-15 19:42] sbwalker commented on #1113
The next major improvement identified on the roadmap is Cross Platform Database Support described in in #964. I would not want to tackle the items you are suggesting until #964 is complete. That being said, there is nothing stopping you from implementing these EF Core optimizations to the Blog module ( https://github.com/oqtane/oqtane.blogs ). It would provide a smaller sandbox to prove the feasib

[2021-02-15 20:36] kevin-weir commented on #1113
I can certainly take a look at the Blog module.  Were you planning to create a dev or feature branch for it?

[2021-02-16 19:45] PhilipMur commented on #1113
Take a read off this
https://docs.microsoft.com/en-us/aspnet/core/blazor/webassembly-performance-best-practices?view=aspnetcore-5.0

And this

https://docs.microsoft.com/en-us/aspnet/core/blazor/components/virtualization?view=aspnetcore-5.0

Might give you some ideas

[2021-02-17 02:51] sbwalker commented on #1113
@PhilipMur thank you for sharing - there are some very interesting tips in that first article. Obviously those articles focus on Client application performance, whereas @kevin-weir was referring to Server application performance. Ironically, the area where I have encountered the most performance issues in the past is in the communication between these two applications ie. the number of calls betwe

[2021-02-17 15:23] erw13n opened #1119 "Replace ModuleMessage with Toast"
First of all, thank you @sbwalker for creating another awesome stuff :) (I'm very exciting)

I just start using Oqtane recently,
On Site Settings, I didn't notice that it have been Saved not until I scroll the page up.
Due the page to long, the message been hidden until you scroll up.

I modify core control ModuleMessage to show it as Toast.

I'm wonder, is there any way to replace ModuleMessage w

[2021-02-17 16:54] hishamco commented on #1119
I think the scrolling issue could be resolved by showing the alert on the top of the page even if the page scolling, I can a push a PR for this if sound looks good to all

Backing to your question the current `ModuleMessage` show/hide an alert div based on some conditions, if you want to replace I think you can trigger the show event of the toast when the `Message` is set

[2021-02-17 18:55] sbwalker commented on #1119
The way I would prefer to solve this user experience issue is to organize the Site Settings form into Tabs or collapsible Sections so that the form is rendered in a shorter format and the standard module message is visible upon Save. There is no need to introduce a toast or z-index solution which would be inconsistent with the rest of the UX.

[2021-02-18 00:33] erw13n opened #1120 "Upload SVG throw error"
When upload `.svg` file from File Manager or upload Logo it throw an error :

![image](https://user-images.githubusercontent.com/792847/108285442-ad945500-71b9-11eb-94ef-19d12d93d943.png)

![image](https://user-images.githubusercontent.com/792847/108285524-d6b4e580-71b9-11eb-9c1b-f6fc8f0949d7.png)

Not much information on Logs, but when debugging, it throw error at `FileController > MergeFile`

Wh

[2021-02-18 07:37] leigh-pointer commented on #1120
The issue is with svg files.  A svg image, is an object in the form of XML there for will not hold these attributes.

[code]
I have put a fix forward for review.

[2021-02-18 12:25] erw13n commented on #1119
Indeed, message not only use for warning/success, but also as info related to the module, which doesn't make sense to make it Toast.

[2021-02-18 12:25] #1119 closed

[2021-02-18 13:40] sbwalker commented on #1120
Question on this item... there is a constant in the framework:

ImageFiles = "jpg,jpeg,jpe,gif,bmp,png,svg,ico";

This constant is used as a filter in some areas to restrict the files which can be selected/uploaded by a user to only allow image files ( ie. when choosing a logo for a site, etc... ). This constant is also used in the FileController to determine whether the system should dynamically

[2021-02-18 14:30] sbwalker commented on #1100
Discussion #985 may also provide some insight into this area. Rather than decomposing your solution into many physically isolated projects/packages, it may be easier for you to create a single project/package which internally contains a variety of modules and services.

[2021-02-18 21:45] erw13n commented on #1120
Can it just read height and width from the object xml, Svg-xml should have this attribute

[2021-02-19 10:53] tvatavuk opened #1123 "Relative Html links on inner pages not working as expected"
This is one sample of a whole family of similar issues with relative Html links on inner pages.

There is an HtmlText module on page http://oqtane200.dev.sistemi.hr/page01 with the following Html content:

[code]

Click on the link will open the Home page http://oqtane200.dev.sistemi.hr/#Section_further_down instead of jumping to the section on the same page http://oqtane200.dev.sistemi.hr/page01#

[2021-02-19 11:47] tvatavuk commented on #1100
Thanks for Your explanations (and examples) on the benefits of keeping in the same solution, project, assembly and/or nupkg when a whole family of oqtane modules have to be deployed in the same Oqtane instance.

[2021-02-19 13:11] PhilipMur opened #1125 "Favicon ico not saving"
I fixed it in the pull request https://github.com/oqtane/oqtane.framework/pull/1124

[2021-02-19 14:10] PhilipMur commented on #1123
Hello @tvatavuk ,

I know its not built into Oqtane as i dont see any code to detect the # for internal jump links.

But i do have a solution.
`<button type="button" onclick="document.getElementById('Bottom-Jump').scrollIntoView({behavior:'smooth'})">Contact us</button>
<h2 id="Bottom-Jump">jumped here</h2>`

[2021-02-19 14:18] PhilipMur commented on #1123
@tvatavuk one other solution is

[code]

[2021-02-19 15:02] PhilipMur commented on #1123
Also this works as well if you need to use a href tag

[code]

[2021-02-19 15:05] PhilipMur commented on #1123
If this is to be implemented a JS interop or similar will have to be designed but just check out this from Microsoft https://github.com/dotnet/aspnetcore/issues/16726

[2021-02-19 15:15] tvatavuk commented on #1123
Hi @PhilipMur,
thx for Your suggestion. It looks like a good alternative when jumping on the same page is required.
I think You pinpointed the core issue https://github.com/dotnet/aspnetcore/issues/16726.

In our case, we have lots of relative links automatically generated by [hybrid 2sxc apps](https://2sxc.org/en/apps) that are running as [hybrid 2sxc oqtane modules](https://2sxc.org/en/blog/post

[2021-02-24 22:29] #1125 closed

[2021-02-24 22:31] sbwalker commented on #1120
@hishamco raised a valid point - SVG files pose a security risk https://wpglorify.com/wordpress-svg-support/. Perhaps the best short term option is to remove SVG from the ImageFiles filter.

[2021-02-25 06:43] leigh-pointer opened #1134 "Files size incorrect when less than 1000 bytes"
Files show size as 0 KB when bytes less that 1000 in Oqtane.Client\Modules\Admin\Files\Index.razor

[2021-02-25 13:32] sbwalker commented on #1134
@leigh-pointer thank you for separating this PR from the other SVG item :)

[2021-02-25 13:32] #1134 closed

[2021-02-25 14:08] hishamco commented on #1120
Long time we may sanitize the svg content to make it safe to upload such files

[2021-02-26 12:46] sbwalker commented on #1120
SVG removed as a short term solution

[2021-02-26 12:46] #1120 closed

[2021-02-26 16:34] ADefWebserver opened #1140 "Deploy to Azure doesn't pull in code"
The **Deploy to Azure** button appears to be broken.

It completes:

![image](https://user-images.githubusercontent.com/1857799/109327137-d9908580-780c-11eb-8a2f-fbb717b77b93.png)

But the source code is not there:

![image](https://user-images.githubusercontent.com/1857799/109327266-fe84f880-780c-11eb-9f25-96373cf85516.png)

I suspect it is because the _https://github.com/oqtane/oqtane.framework.

[2021-02-26 16:38] ADefWebserver commented on #1140
I looked further in the logs and it appears to time-out

![image](https://user-images.githubusercontent.com/1857799/109328128-f5485b80-780d-11eb-98d5-f1f1ecf0d2d7.png)

![image](https://user-images.githubusercontent.com/1857799/109328165-ff6a5a00-780d-11eb-86b9-34aca3ff066d.png)

[2021-02-26 16:49] ADefWebserver commented on #1140
Neverminded, without doing anything, it later showed up (10 minutes later!)

![image](https://user-images.githubusercontent.com/1857799/109328958-e3b38380-780e-11eb-9876-61be588d257e.png)

(perhaps we can update the instructions?)

[2021-02-26 16:49] #1140 closed

[2021-02-27 18:42] ADefWebserver opened #1145 "2.0.1 not able to install on Azure using automated Azure Deploy button"
I can't install https://github.com/oqtane/oqtane.framework/releases/tag/v2.0.1 on Azure

1) Create Azure website
2) Deploy Oqtane.Framework.2.0.1.Install.zip
3) Install wizard comes up, enter information (including Host information)
4) Database is created
5) When I try to go to site the install wizard comes up (again)
6) no errors in [oqtane-blazor].[dbo].[Log] (it is empty)
7) There are no users

[2021-02-27 20:31] sbwalker commented on #1145
Were you able to install 2.0.0 on Azure?

[2021-02-27 20:34] ADefWebserver commented on #1145
This was the last version I tried yesterday: (it was the latest version in prod); https://github.com/oqtane/oqtane.framework/issues/1140

[2021-02-27 21:06] sbwalker commented on #1145
I have installed the 2.0.1 release package successfully on IIS locally - so this must be specifically an Azure deployment issue.

[2021-02-27 21:12] sbwalker commented on #1145
I am wondering if it might be related to an Azure environment behavior issue similar to https://github.com/oqtane/oqtane.framework/issues/545

[2021-02-27 22:11] ADefWebserver commented on #1145
Note I am trying the manual.zip install so I can use my existing azure app.

1) it fully installs and updates the appsetings.Json

2) I cleared the settings and installed again. Everything installs (tables are created) but no host user is created.

[2021-02-27 22:55] kevin-weir commented on #1113
I will hold off and see what happens with the Cross Platform Database Support...

[2021-02-27 23:20] jimspillane commented on #1140
Sorry for the late response.  I experienced similar behavior on occasion and could not find the root cause.

[2021-02-28 02:40] sbwalker commented on #1145
Do the Tenant, Alias, and Site tables have records in them after install?

[2021-02-28 04:04] ADefWebserver commented on #1145
![image](https://user-images.githubusercontent.com/1857799/109407595-eb6e4780-7936-11eb-9fa9-3bc13e317907.png)

[2021-02-28 14:31] sbwalker commented on #1145
You are certain this is a clean install of 2.0.1 - without any other module assemblies, site templates, or customizations to the appsettings.json? It appears that the CreateSite() method in DatabaseManager.cs is not executing or is throwing an error during your installation - but I do not know why.

[2021-02-28 14:35] sbwalker commented on #1145
Can you also share the contents of your SchemaVersions table?

[2021-02-28 15:47] ADefWebserver commented on #1145
I am away from home, let me do this when I get back. I also want to see if the Azure wizard is putting in values in the Config settings for the App Service that the manual method doesn't. Thanks!

[2021-02-28 17:32] ADefWebserver commented on #1145
![image](https://user-images.githubusercontent.com/1857799/109427574-dd0c4400-79a7-11eb-8cdc-813e423396b8.png)

[2021-02-28 17:55] ADefWebserver commented on #1145
A manual install works!

A)	In a new Azure App service (*not* the one created by the “Deploy To Azure” wizard), I deleted all the tables from the database
B)	I deleted all the contents of the wwwroot folder
C)	I ensure there is *not* a DefaultConnection setting in the Configuration for the Azure App Service (I think there was one from before when I re-used one created by the “Deploy To Azure” wiza

[2021-03-01 15:18] sbwalker commented on #1145
@ADefWebserver I appreciate all of your testing of 2.0.1 over the weekend... I am hoping it might be possible to clarify the current status...

1. Clean install of 2.0.1 from within Visual Studio works fine
2. Clean install locally using IIS works fine
3. Clean install on Azure using manual method works fine ( your original post indicated that it did not work however I am guessing it was because y

[2021-03-01 16:47] ADefWebserver commented on #1145
@sbwalker I think that if anyone else can have the "**Deploy to Azure**" button work, this issue should be closed.

If they cannot get the "**Deploy to Azure**" to work, I suspect that because the "**Deploy to Azure**" triggers the **https://github.com/oqtane/oqtane.framework/blob/dev/azuredeploy.json** script, and that script creates a **DefaultConnection** property in the **Configuration** setti

[2021-03-01 17:19] pcancela commented on #1145
Guys, probably it has nothing to do with it but I remember last time I tried a blazor app on azure it took me a while to get it running because websockets feature was disabled being that the default behavior for an azure app service.

![image](https://user-images.githubusercontent.com/5494384/109533379-103afa00-7ab2-11eb-9b2b-c2544ff1aa7e.png)

[2021-03-01 18:12] sbwalker commented on #1145
@pcancela that issue was resolved in #976

[2021-03-01 18:12] ADefWebserver commented on #1145
@pcancela The should only cause the site to _run slow_, not prevent it from _running at all_. But, I could be wrong...

Unfortunately I don't currently have a site created by the "Deploy To Azure" button to check that setting. I really hope someone will give it a try with the 2.0.1 version of Oqtane. All previous version of Oqtane worked for me.

[2021-03-01 18:15] sbwalker commented on #1145
@ADefWebserver is there a reason why it should reference the dev branch ( https://github.com/oqtane/oqtane.framework/blob/dev/azuredeploy.json ) - I would think the master branch would be more appropriate

[2021-03-01 18:32] ADefWebserver commented on #1145
@sbwalker - Sorry that was me typing too fast. The "Branch" that the "Deploy To Azure" button pulls from is determined by this code in the **azuredeploy.json** file (that is triggered by the button):

[code]

[2021-03-01 19:00] vzdesic opened #1147 "Debugging External Module in Runtime WebAssembly configuration"
I didn't succeed to debug code inside the Client project of the External Module. I have set Oqtane Runtime to WebAssembly in the configuration, because I have set of microservices behind the UI and I don't need server side. I tried to attach debugger in all possible ways, but it was not successful. I also understand what was described in this post: https://blazorhelpwebsite.com/ViewBlogPost/4 , an

[2021-03-01 20:18] hishamco commented on #1147
I will bing @ADefWebserver coz he already answered that before ;)

[2021-03-01 21:37] ADefWebserver commented on #1147
Sorry I have no experience debugging a Oqtane WebAssembly modules.

[2021-03-01 21:54] sbwalker commented on #1147
@vzdesic can you please explain what you mean by "I have set of microservices behind the UI and I don't need server side"? Are you saying that you created some service wrappers in your Client projct which use HttpClient to call API endpoints on another server? If so, then its important to realize that the hosting model is simply a run-time configuration decision. For development you can configure

[2021-03-01 22:39] hishamco commented on #1147
WebAssembly is missy especially in debugging but you could use old school `Console.WriteLine()`

[2021-03-02 06:26] vzdesic commented on #1147
Yes, this is more or less what I have. I will check this today.

I am not sure that I fully understand hosting model or run-time configuration. Can you elaborate a little bit about that? What is actually changed by setting Runtime from Server to WebAssembly?

[2021-03-02 10:43] vzdesic commented on #1147
Yes, it works fine if I set Runtime to Server. I will close this.

Still, I would like to understand better what is really different when this configuration parameter is set to WebAssembly.

[2021-03-02 10:43] #1147 closed

[2021-03-02 12:53] hishamco commented on #1147
Simply there's no server side rendering and you are limited in terms of functionalities and APIs

[2021-03-02 13:15] sbwalker commented on #1147
@vzdesic this is a really a Blazor question - not an Oqtane question. When you run Oqtane on the "Blazor Server" runtime it essentially means your component UI is being generated on the server and the browser UI is being refreshed over a SignalR connection. When you run Oqtane on the "Blazor WebAssembly" runtime, your component UI DLLs are actually downloaded from the server to the browser during

[2021-03-02 15:10] leigh-pointer opened #1148 "LangVersion set to 7.3 in External Server Template"
The language restriction needs to be removed from the Server Module in the External templates.

[2021-03-02 15:48] #1148 closed

[2021-03-02 19:37] vzdesic commented on #1147
Thanks for the answer. Yes, I understand the Blazor basics. My question was related more to Oqtane, so it seems I have to stop assuming that Oqtane adds something onto it.

[2021-03-03 14:44] leigh-pointer opened #1152 "Event log Rows Drop down not changing the number of rows displayed"
When changing the rows drop down in the Event Log the display is not displaying the total number of rows selected.

[2021-03-03 16:21] leigh-pointer commented on #1152
further investigation it would appear that paging is not currently setup fully on most or all modules that use paging.

[2021-03-04 13:31] sbwalker commented on #1152
@leigh-pointer can you include a screen shot to explain what you mean?

[2021-03-04 14:20] leigh-pointer commented on #1152
![Capture3](https://user-images.githubusercontent.com/9447612/109976994-a4000680-7cfc-11eb-87bf-040e054a28f5.PNG)
currently the rows dropdown doesn't up date extend rows displayed.

after the update `<Pager Items="@_logs" PageSize="@_rows">` PageSize is added.
![Capture7](https://user-images.githubusercontent.com/9447612/109977354-06590700-7cfd-11eb-87bb-0cf6f407b36e.PNG)

[2021-03-04 16:21] chlupac opened #1156 "Exception thrown when alias not found from requested url in _Host.cshtml.cs"
Before version 2.0.1 works fine. I'm using copy of database from live server for development. Alias of development machine is not present in aliases table.

_Host.cshtml.cs:
![image](https://user-images.githubusercontent.com/7838468/109993130-42e02f00-7d0c-11eb-97dd-4123bacf28dc.png)

[2021-03-04 17:40] hishamco commented on #1152
@leigh-pointer the pager is show up whenever you change the page size > 10, and it doesn't show the selected rows number instead it shows the `From Page` To `Total Pages` format

[2021-03-04 19:53] chlupac commented on #1156
try to solve with #1157.
return default alias instead of null.

[2021-03-04 20:28] sbwalker commented on #1156
This logic was changed on purpose. The alias mapping must be explicit or else it opens up the possibility of abuse and confusion ( some may even construe it to be a security issue ). Obviously we do not want the system to throw an exception... it should check for the null condition in _Host and display a suitable error message ie. Site Not Found.

[2021-03-04 20:40] sbwalker commented on #1152
@leigh-pointer the Rows dropdown is intended to restrict the number of rows returned from the server API to the client ( as there can be a very high volume of log items over time ) - whereas the Pager component is intended to provide a manageable user experience on the client for tabular datasets. The default number of Pager rows is 10 - and that is consistent throughout all of the admin UI. So th

[2021-03-04 21:13] chlupac commented on #1156
OK, I understand, my solution is Q&D, I will cancel my PR.

[2021-03-04 21:38] hishamco commented on #1156
Can we close this issue too?

[2021-03-04 21:57] chlupac commented on #1156
@hishamco we have to solve error message when alias not found

[2021-03-04 22:30] sbwalker commented on #1156
@chlupac I had to Google "Q&D"... and I learned it means "quick and dirty" ;)

[2021-03-05 00:45] hishamco commented on #1156
You are right, I thought you will update your PR but once you closed the I thought it's no longer needed ;)

[2021-03-05 05:42] leigh-pointer commented on #1152
@sbwalker @hishamco Thanks, ok I get it.  Personally I think the label "Rows:" is misleading and  "Maximum Records" would be better.

[2021-03-05 05:51] leigh-pointer opened #1158 "Event Log strange behavior with the Paging control"
Page loads showing 10 rows.  Change to 50 rows, data is retrieved Pager numbering starts at 2
![Capture1](https://user-images.githubusercontent.com/9447612/110072668-6e9bfd00-7d7e-11eb-9a92-71b216052698.PNG)

Change Rows to 100, numbering starts at 6,  No response when clicking Navigate to the beginning " **|<** "
![Capture2](https://user-images.githubusercontent.com/9447612/110073100-216c5b00-7d7

[2021-03-05 06:00] aloksharma1 opened #1159 "Adding this to existing MVC project?"
Hello,

i have a use case where we built a mvc solution using plugin framework, now we want to do a few module using blazor so my app will contain razor as well as blazor, now my question is if i use your framework is it possible to connect both in single host application handling plugin modules (server side) and add wasm plugin project and deploy to existing production site?

thanks

[2021-03-05 12:32] sbwalker commented on #1159
Without knowing a lot more details about your existing solution it is impossible to answer this question. My initial gut reaction is that it is not impossible but based on the fact that Oqtane was never designed with this use case in mind, you would need to introduce some customizations to make it work in your specific environment.

[2021-03-05 12:46] leigh-pointer opened #1160 "Issue with menu Icon Spacing."
Using the horizontal menu the child sub menu icons are not spaced away from the menu caption.
![Capture1](https://user-images.githubusercontent.com/9447612/110117430-20581f80-7db9-11eb-9f3f-ee569567f619.PNG)
![Capture2](https://user-images.githubusercontent.com/9447612/110117449-277f2d80-7db9-11eb-9f58-126e31d45483.PNG)

The vertical menu renders the menu item ok
![Capture3](https://user-images.gi

[2021-03-05 14:10] hishamco commented on #1156
@chlupac how did the exception thrown in your case, `GetAliases()` will contains the root domain all the time, so I'm not sure when it will be `null`

[2021-03-05 14:14] aloksharma1 commented on #1159
ok i will upload a sample project and update the link here to keep the discussion going.. if it works it would be great as i want to offload parts of mvc views to blazor spa [if it can be modularized].

[2021-03-05 14:16] sbwalker commented on #1159
Just to set the appropriate expectations, I personally do not have the time to invest into exploring this use case but perhaps other community members will be willing/able to assist.

[2021-03-05 14:41] hishamco commented on #1160
I can verify from the UI bug, the PR on the way ...

[2021-03-05 15:04] leigh-pointer opened #1165 "Horizontal Menu and submenu items"
On a main /sub menu its not always desirable to have an menu item that is navigable but an item to host the child menu items.
Using the navigation option in the Page Management hides the page which is halfway there paired with a visible property the desired effect could be achieved.

sub-Submenus can not currently be  displayed on the Horizontal menu.

[2021-03-05 15:19] hishamco commented on #1165
I didn't understand the issue, could you please ellaborate?

[2021-03-05 15:32] leigh-pointer commented on #1165
So the menu item "Parent Page" should only be a menu option to hold the child items.  The Child items are only displayed when the "Parent Page" item is clicked which also navigates to that page.
![Capturem](https://user-images.githubusercontent.com/9447612/110136173-a97a5100-7dcf-11eb-8f2b-1317f50253a3.PNG)

Desired effect would be that the item is disabled and displayed the child item on mouse ov

[2021-03-05 15:43] hishamco commented on #1165
I expect that's your intend, I think this is already discussed [here](https://github.com/oqtane/oqtane.framework/discussions/1092)

[2021-03-05 16:12] leigh-pointer commented on #1165
@hishamco yes that seem to be half of the issue the other half is that a sub > **sub** menu is not being displayed.

[2021-03-05 16:48] leigh-pointer opened #1166 "Vertical Menu not correctly displaying sub sub menus"
When using the vertical menu the first child items are displayed ok but the sub sub child  items are not rendered as expected.
![vert Men](https://user-images.githubusercontent.com/9447612/110145950-43df9200-7dda-11eb-929f-09cebdc51f73.PNG)

[2021-03-05 16:50] hishamco commented on #1166
This is weird, could you please submit a PR, let me know if you need a help

[2021-03-05 16:51] hishamco commented on #1165
Please let me know if you interest to solve all or some of the issues or I will try to fix them

[2021-03-06 14:04] IgnacioColmenares opened #1167 "certificate has expired"
HI,

certificate for https://oqtane.org/ has expired!
![Capture_x](https://user-images.githubusercontent.com/66320936/110209480-d6c01100-7e5a-11eb-8996-b303b4a8db67.PNG)

[2021-03-06 15:37] hishamco commented on #1167
I noticed a strange behavior in Edge browser yesterday, seems the origin issue from the certificate

/cc @sbwalker

[2021-03-06 15:58] sbwalker commented on #1167
I will look into it... it is using a Let’s Encrypt very which is supposed to auto renew

[2021-03-09 14:46] #1152 closed

[2021-03-09 15:49] sbwalker commented on #1166
I believe the default menu components were only optimized for 2 hierarchical levels - not unlimited. If someone needs to support more than 2 hierarchical levels then I would suggest they create their own custom menu component for their installation.

[2021-03-09 20:32] hishamco commented on #1166
@sbwalker I asked @leigh-pointer to handle this if he like, otherwise I will have a look to make it work for 3 levels or unlimted levels

[2021-03-10 18:55] sbwalker commented on #1167
Resolved. Not sure why the Azure WebJob failed.

[2021-03-10 18:55] #1167 closed

[2021-03-11 16:23] sbwalker commented on #1160
fixed in #1163

[2021-03-11 16:23] #1160 closed

[2021-03-11 16:27] sbwalker commented on #1165
This is a duplicate of #1092. The limitation of displaying only 2 levels of navigation is a totally separate issue.

[2021-03-11 16:27] #1165 closed

[2021-03-11 16:28] sbwalker commented on #1166
Closing. If someone needs to support more than 2 hierarchical levels then they should create their own custom menu component for their installation.

[2021-03-11 16:28] #1166 closed

[2021-03-11 16:28] sbwalker commented on #1158
Fixed in #1171

[2021-03-11 16:28] #1158 closed

[2021-03-12 01:19] #1156 closed

[2021-03-12 01:20] sbwalker commented on #1099
Closing as this is by design

[2021-03-12 01:20] #1099 closed

[2021-03-12 01:21] sbwalker commented on #1100
Closing as this issue appeared to be addressed through explanation above

[2021-03-12 01:21] #1100 closed

[2021-03-12 01:21] sbwalker commented on #1123
This is not an issue with Oqtane - it is a known issue with Blazor

[2021-03-12 01:21] #1123 closed

[2021-03-12 01:50] VictorioBerra commented on #944
If Octane was OAuth2/OIDC spec-compliant, users should be able to plug in any OAuth2/OIDC secure token server that they desired.

[2021-03-12 12:47] sbwalker commented on #1159
This item would be better served in the Discussions area since it is not an "issue" with the framework - it is a question about a use case which is outside the current scope of the framework.

[2021-03-12 12:47] #1159 closed

[2021-03-12 12:50] sbwalker commented on #1145
I changed the title of this issue because it may be alarming to some to think that Oqtane does not run on Azure - when that is clearly not the case. The only remaining issue that I am aware of is that the automated Deploy To Azure option is not working - and this option has always been flaky. I am also not sure it is an Oqtane framework issue - more likely it has something to do with the Azure dep

[2021-03-12 21:09] Raceeend opened #1175 "Profile controller after delete doesn't refresh the list"
Removing a profile field does not update the profile list.
After reloading the page (key F5) the list is displayed correctly.

[2021-03-13 03:34] sbwalker commented on #1175
The Delete event is missing a StateHasChanged() invocation to trigger a component refresh

[2021-03-13 08:10] Raceeend commented on #1175
It works when I add these two lines:
In Oqtane.Client / Modules / Admin / Profiles file Index.razor after line 44

[code]

[2021-03-13 08:33] Raceeend opened #1176 "Error removing user"
In short, the user is not deleted but cannot be added / activated anymore. The identityuser is empty, but the user still exists in the oqtane table 'User'.

The error arises in UserRepository on line 50 (_db.SaveChanges ()):
_The DELETE statement conflicted with the REFERENCE constraint "FK_Permission_User". The conflict occurred in database "Oqtane-202103130820", table "dbo.Permission", column 'U

[2021-03-13 09:06] hishamco commented on #1176
Please which version you are using?

[2021-03-13 09:29] Raceeend commented on #1176
In the latest version, from 24 hours ago.

The problem can be solved by first deleting the user's folders before deleting the user himself.

For this I made the following adjustments (in Oqtane.Server).
IFolderRepository: add line:
`void DeleteUserFolder(int userId);`

FolderRepository: add function:
[code]

UserController: add line before _user.DeleteUser(id);
`_folders.DeleteUserFolder(id);`

[2021-03-13 09:31] hishamco commented on #1175
No need to call `GetProfilesAsync()` because it will be called in `OnInitializedAsync()`, my PR on it's way ...

[2021-03-13 09:37] hishamco commented on #1176
Please the steps needed to reproduce the issue

What's the difference if you delete the user folder later, while you have the `userId` I didn't look to the code, but I don't think there's much difference. Anyhow feel free to submit a PR

[2021-03-13 09:48] Raceeend commented on #1175
As far as I understand OnInitializedAsync() is only called on page initialization.
After removing, before calling StateChanged, I think the _profiles list should be updated first.
Hence two lines, get the custom list first and then update the screen.

[2021-03-13 09:49] hishamco commented on #1175
Seems I wrong, the list doesn't refersh anymore

[2021-03-13 09:50] hishamco commented on #1175
Still don't think that we need to call `GetProfilesAsync()` twice

[2021-03-13 09:53] hishamco commented on #1175
I think you are right @Raceeend, could you please submit a PR for this one?

[2021-03-13 09:57] Raceeend commented on #1175
No idea how to do that.
I work with Visual Studio 2019
Where can I find information about that, to upload a Pull request to GitHub

[2021-03-13 09:58] hishamco commented on #1175
I advice you to read about Git and GitHub, I will try to handle this for now

Thanks a lot

[2021-03-13 13:21] #1175 closed

[2021-03-13 13:21] #1176 closed

[2021-03-13 13:47] hishamco commented on #1175
@Raceeend please reopen this, it will be closed once the PR is merged

[2021-03-13 20:29] vzdesic opened #1179 "External module configuration settings"
I have created external module. Oqtane runtime setting will be set to "WebAssembly" in the end but in order to debug the code fully, currently Runtime parameter is set to "Server". There is an independent API used only from that module, so its base address must be configuration parameter only on the level of that module. In the normal situation it will be part of the appsettings.json configuration

[2021-03-14 11:52] leigh-pointer opened #1180 "Multiple Layouts and Containers in a Theme package."
I have created theme project which is a package of multiple themes, layouts and containers.
When I edit a page to apply one of the themes the layouts and the containers of the theme package are repeated by (n) of themes.

On investigation the issue is found in the `LoadThemesFromAssembly (Oqtane.Repository.ThemeRepository)` where by the Load is conducted in a loop and the Layouts and container are

[2021-03-14 12:06] leigh-pointer commented on #1180
I am creating a PR for this issue.

[2021-03-14 17:25] sbwalker commented on #1180
The load behavior is by design. Can you please elaborate on your issue in more detail... perhaps provide some screen shots to explain what you are trying to achieve.

[2021-03-14 17:28] sbwalker commented on #1179
Module configuration is usually managed in Module Settings. If you look at the example Blog module you will see there is a Settings.razor file which is a UI for entering settings and ModuleState contains a Settings property so they can be accessed from other module components.

[2021-03-14 17:44] leigh-pointer commented on #1180
This is the Page Edit page and here you see two themes that reside in the same theme assembly.
![image](https://user-images.githubusercontent.com/9447612/111078103-45087180-84f4-11eb-9d00-da170e48f3b7.png)

Because the themes are loaded in a loop from the assembly the layouts and the containers are loaded twice.

Layouts
![image](https://user-images.githubusercontent.com/9447612/111078231-bb0cd880

[2021-03-14 17:57] sbwalker commented on #1180
An assembly can contain multiple themes. A theme needs to have a distinct namespace to associate its various assets together. A theme can have multiple theme files, container files, and (optionally) layout files. Oqtane.Client is a good example of this as it contains 2 themes - the default Oqtane theme and through default Blazor theme. Each theme contains various assets, and they are loaded proper

[2021-03-14 20:06] leigh-pointer commented on #1180
@sbwalker Ok understand, I have adopted the conventions and things are up and running. thank you.

[2021-03-14 20:06] #1180 closed

[2021-03-15 09:29] vzdesic commented on #1179
Ok, so here is Setting razor component of my external module:
![image](https://user-images.githubusercontent.com/9677726/111131014-1fbd4700-8578-11eb-9c88-864664196d81.png)
Or here:
![image](https://user-images.githubusercontent.com/9677726/111131376-7d519380-8578-11eb-81c8-a33f859654eb.png)
I see only limited number of setting parameters, 5 in total. I don't see Add button to add new parameter?
I

[2021-03-15 12:18] vzdesic commented on #1179
Tnx!

[2021-03-15 12:18] #1179 closed

[2021-03-16 09:46] vzdesic opened #1182 "Inject ModulState to the external module service"
I want to ensure that my service which is part of the external module and inherits ServiceBase and IService, can read Module Settings and ModuleState object. Module Settings can be injected by standard DI routine. Still, in order to load settings I need ModuleId. How to pass ModuleId ie. ModuleState to my service class/object which also must be injected to the same razor component?

The reason to